/*
------
------

MODALS 

------
------
*/

.modal-content-wrapper {
    background-color: white;
    padding: 40px;
    .exit-btn {
        float: right;
    }
    img {
        margin-bottom: 30px;
    }
    text-align: center;
    font-size: 16pt;
    font-weight: 400;
}