$background-color: #f4f4f4;
$font-color: #000;
$font-family: 'Assistant', sans-serif;
$font-size: 14pt;

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    background-color: $background-color;
    font-family: $font-family;
    font-size: $font-size;
    font-weight: 400;
    color: $font-color;
}

.large-wrapper {
    margin: 30px 30px 0 30px;
    padding: 30px 0 30px 0;
}

.background-white {
    background-color: #fff;
}
.background-dark {
    background-color: #333030;
}

header {
    background-color: #222323;
    color: white;
    border-bottom: 1px solid #f2f2f2;
    .logo-title {
        font-size: $font-size + 20;
        line-height: $font-size + 10;
    }
    .logo-slogan {
        font-size: $font-size + 10;
        line-height: $font-size + 8;
        margin-top: 10px;
        text-align: right;
        span {
            font-weight: bold;
        }
    }
    @media screen and (max-width: 720px) {
        text-align: center;
        .logo-slogan {
            text-align: center;
        }
    }
}

.margin-t-20 {
    height: 20px;
}

.margin-t-60 {
    height: 60px;
}

.margin-t-100 {
    height: 100px;
}

p {
    font-weight: 300;
}

.dev-tech-box, .company-thumbnail-box  {
    p {
        font-weight: 400;
    }
    span {
        font-size: smaller;
        font-weight: 300;
    }
}

.company-thumbnail-box {
    img {
        margin: auto;
        padding-bottom: 10px;
    }
    span {
        bottom: 0;
    }
    .w-100 {
        width: 100%;
        min-height: 50px;
    }
    ul {
        list-style-type: none;
        padding-left: 0;
    }
    li {
        padding: 0 0 10px 0;
    }
}

#panel-about {
    img {
         @media screen and (max-width: 580px) {
            margin: auto;
            display: inline-block;
            overflow: hidden;
         }
         @media screen and (min-width: 581px) {
            float: right;
            margin: 0 0 20px 40px;
         }
        margin-bottom: 20px;
    }
    p {
        text-align: left;
    }
}

#panel-projects {
    i {
        margin-left: 5px;
    }
}

.hidden {
    display: none;
}

#panel-projects {
    a, a:hover, a:visited {
        text-decoration: none;
    }
    .card-link {
        color: black;
    }
    .card {
        text-align: center;
    }
    .card-text {
        color: #333;
    }
}

#panel-technologies {
    padding-top: 30px;
}

footer {
    padding-bottom: 30px;
}

.parallax {
    background: gray;
    width: 100%;
    height: 300px;
    text-align: center;
    font-size: 18pt;
    line-height: 300px;
}