// Begin Footer Section
footer
    .container
        .margin-t-20
            .row.text-center
                .social-links
                    include social-footer.pug
                    .margin-t-20
                .col-sm-12.col-md-12.col-lg-12 
                    p 
                        | &copy; 2017 Naruth Kongurai
                    p 
                        small Icons from Flat Icon by Smashing Magazine, Freepik, and Vectors Market

a(href='#about')
    .scroll-to-top
        i.fa.fa-chevron-up


include modals.pug


script(src='/vendor/jquery/jquery.min.js')
script(src='/vendor/bootstrap/js/bootstrap.min.js')
script(src='/js/theme.js')