// Milo Thailand
#project-milo.modal.fade(role='dialog')
    .modal-dialog.modal-lg
        .modal-content-wrapper
            i.exit-btn.fa.fa-times-circle(aria-hidden='true', data-dismiss='modal')
            
            //- Company Title
            h2 Milo Thailand

            .icons
                .row
                    .col-xs-12.col-md-12.col-lg-12
                        p
                            a(href="https://milo.co.th/", target="_blank")   
                                i.fa.fa-external-link(aria-hidden='true')
                                | Milo Website
            
            img.img-responsive(src="img/ui-milo.png", alt="Milo")
            
            p I managed the technological development side for Milo's Futsal "Road to Barcelona" 2017 Campaign that promoted Thai children to become better footballers.
            
            p I worked on developing the webpages for this particular campaign on the site which runs Drupal CMS.


// Nivea Thailand
#project-nivea.modal.fade(role='dialog')
    .modal-dialog.modal-lg
        .modal-content-wrapper
            i.exit-btn.fa.fa-times-circle(aria-hidden='true', data-dismiss='modal')
            
            h2 Nivea Thailand
            
            .icons
                .row
                    .col-xs-12.col-md-6.col-lg-6
                        p
                            a(href="http://www.nivea.co.th/products/campaigns/ext/th-TH/NIVEA-Oil-In-Lotion", target="_blank")   
                                i.fa.fa-external-link(aria-hidden='true')
                                | NIVEA Campaign
                    .col-xs-12.col-md-6.col-lg-6
                        p
                            a(href="http://www.nivea.co.th/ext/th-TH/NIVEA-FOR-LIFE/Sassy-Society", target="_blank") 
                                i.fa.fa-external-link(aria-hidden='true')
                                | NIVEA Blog

            p
                img.img-responsive(src="img/ui-nivea.png")
            
            p I developed and published new campaigns and blogging articles on Nivea site that runs Sitecore CMS. Additionally, I helped edited Photoshop files and developed an HTML template, which was then integrated into the CMS.

// SHOW DC
#project-showdc.modal.fade(role='dialog')
    .modal-dialog.modal-lg
        .modal-content-wrapper
            i.exit-btn.fa.fa-times-circle(aria-hidden='true', data-dismiss='modal')

            h2 SHOW DC Mall

            .icons
                .row
                    .col-xs-12.col-md-12.col-lg-12
                        p
                            a(href="https://www.showdc.co.th/", target="_blank")   
                                i.fa.fa-external-link(aria-hidden='true')
                                | SHOW DC Mall Website
                                       
            img.img-responsive(src="img/ui-show-dc-mall.png", alt="Show DC")
            
            p SHOW DC is a newly built shopping complex close to Thailand's Suvanabhumi International Airport. 

            p I helped the development team to integrate new sections to the shopping complex's website and participated in the management and decision-making between the client (SHOW DC) and the development team at Ogilvy and Mather (OgilvyOne) that I interned at.

// Samsung email template
#project-samsung.modal.fade(role='dialog')
    .modal-dialog.modal-lg
        .modal-content-wrapper
            i.exit-btn.fa.fa-times-circle(aria-hidden='true', data-dismiss='modal')
            
            h2 Samsung Asia Email Template

            img.img-responsive(src="img/ui-samsung-email.png", alt="Samsung")
            
            p I developed an email template for Samsung using HTML and Foundation for Email (Inky). Visual Studio Code was the code editor I used.


// DC Vote App
#project-dcvote.modal.fade(role='dialog')
    .modal-dialog.modal-lg
        .modal-content-wrapper
            i.exit-btn.fa.fa-times-circle(aria-hidden='true', data-dismiss='modal')

            h2 DC Vote App by 
                b 7-Eleven

            img.img-responsive(src="img/ui-mobile-dcvote.png", alt="DC Vote")

            p A user-friendly and speedy app that allows employees of 7-Eleven (which is owned by CP All) to rate how well they are satisfied with the services and the delivery of goods. 
            p The app is now used by thousands of employees working at more than 8,000 7-Eleven convenience stores in Thailand. The app's interface is in Thai.
            .margin-t-60
            p <small>Download is not available. Software is distributed for internal use only.</small>

// One-Page Modern Portfolio Theme
#project-free-portfolio-theme.modal.fade(role='dialog')
    .modal-dialog.modal-lg
        .modal-content-wrapper
            i.exit-btn.fa.fa-times-circle(aria-hidden='true', data-dismiss='modal')

            h2 Portfolio Theme

            .icons
                .row
                    .col-xs-12.col-md-6.col-lg-6
                        p
                            a(href="https://github.com/naruthk/web-theme-portfolio", target="_blank")   
                                i.fa.fa-github(aria-hidden='true')
                                | GitHub
                    .col-xs-12.col-md-6.col-lg-6
                        p
                            a(href="https://codepen.io/naruth1212/pen/wrRjKv", target="_blank") 
                                i.fa.fa-codepen(aria-hidden='true')
                                | Code Pen

            p
                img.img-responsive(src="img/project-web-free-template.png", alt="Free Portfolio Theme")
        
// Beautiful Digital Clock - Chrome Extension
#project-extension-digital-clock.modal.fade(role='dialog')
    .modal-dialog.modal-lg
        .modal-content-wrapper
            i.exit-btn.fa.fa-times-circle(aria-hidden='true', data-dismiss='modal')

            h2 Beautiful Digital Clock for Google Chrome's New Tab

            .icons
                .row
                    .col-xs-12.col-md-6.col-lg-6
                        p
                            a(href="https://chrome.google.com/webstore/detail/beautiful-digital-clock-w/jdnjafgehddcpoahelddbflpmoeinaed?hl=en-US&gl=US", target="_blank")   
                                i.fa.fa-chrome(aria-hidden='true')
                                | Chrome Extension Store
                    .col-xs-12.col-md-6.col-lg-6
                        p
                            a(href="https://codepen.io/naruthk/full/jaqdwW/", target="_blank") 
                                i.fa.fa-codepen(aria-hidden='true')
                                | Code Pen

            p
                img.img-responsive(src="img/ui-chrome-extension-digital-clock.png", alt="Free Portfolio Theme")