.col-xs-12.col-md-12.col-lg-12
    a(href="mailto:contact@naruthk.com", title="Email")
        i(class="fa fa-envelope-o", aria-hidden="true")
    a(href='http://www.github.com/naruthk', title='Github', target='_blank')
        i.fa.fa-github(aria-hidden='true', target='_blank')
    a(href='http://www.linkedin.com/in/naruthkongurai', title='Linkedin', target='_blank')
        i.fa.fa-linkedin(aria-hidden='true', target='_blank')
    a(href='https://twitter.com/naruthkongurai', title='Twitter', target='_blank')
        i.fa.fa-twitter(aria-hidden='true', target='_blank')
    a(href='http://codepen.io/naruthk/', title='Codepen', target='_blank')
        i.fa.fa-codepen(aria-hidden='true', target='_blank')
    a(href='https://medium.com/naruth-kongurai', title='Medium', target='_blank')
        i.fa.fa-medium(aria-hidden='true', target='_blank')
    a(href="http://www.naruthk.com/media/Kongurai_Naruth_grad2018.pdf", title="Resume link")
        i(class="fa fa-file-text", aria-hidden="true")