.col-xs-12.col-md-12.col-lg-12
    a(href="http://www.medium.com/naruth-kongurai/who", title="Email")
        | About
    a(href='https://medium.com/naruth-kongurai', title='Medium', target='_blank')
        //- i.fa.fa-medium(aria-hidden='true', target='_blank')
        | Blog
    a(href="mailto:contact@naruthk.com", title="Email")
        //- i(class="fa fa-envelope-o", aria-hidden="true")
        | Contact
    a(href="http://www.naruthk.com/media/Kongurai_Naruth_grad2018.pdf", title="Resume link")
        i(class="fa fa-file-text", aria-hidden="true")