meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='description', content='Official website. Downlad my Resume. View my Projects. More information available.')
meta(name='author', content='Naruth Kongurai')

// Favicons
link(rel="apple-touch-icon", sizes="180x180", href="http://www.naruthk.com/img/favicons/apple-touch-icon.png")
link(rel="icon", type="image/png", sizes="32x32", href="http://www.naruthk.com/img/favicons/favicon-32x32.png")
link(rel="icon", type="image/png", sizes="16x16", href="http://www.naruthk.com/img/favicons/favicon-16x16.png")
link(rel="manifest", href="img/favicons/manifest.json")
link(rel="mask-icon", href="img/favicons/safari-pinned-tab.svg", color="#5bbad5")
meta(name="theme-color", content="#ffffff")

// Styles
link(href='http://www.naruthk.com/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
link(href='css/main.css', rel='stylesheet')
link(href='http://www.naruthk.com/vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')

// Google Fonts
link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600,700', rel='stylesheet', type='text/css')