// Naruth Kongurai
// Website
// 2017
// v. 1.2
// MIT License

doctype html
html(lang = en)
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='Official website. Downlad my Resume. View my Projects. More information available.')
        meta(name='author', content='Naruth Kongurai')
        title Naruth Kongurai (Sam)

        // Styles
        link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
        link(href='css/main.css', rel='stylesheet')
        link(href='css/imagehover.min.css', rel='stylesheet')
        link(href='vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
        
        // Google Fonts
        link(href='https://fonts.googleapis.com/css?family=Assistant:300,400,500,600,700', rel='stylesheet', type='text/css')

    body

        // Begin Header
        header
            .container
                .row
                    .col-sm-6.col-md-6.col-lg-6
                        .logo-title 
                            a(href="http://students.washington.edu/naruthk") Naruth Kongurai
                    .col-sm-6.col-md-6.col-lg-6.hidden-xs
                        .margin-t-20.visible-xs
                        .logo-slogan 
                            | Front-End 
                            br.visible-xs
                            <span>Web</span> +
                            <span>Mobile</span> 
                            | Developer 
        // End Header
        
        .small-wrapper.visible-xs.text-center
            h2
                | Front-End 
                br.visible-xs
                <span>Web</span> +
                <span>Mobile</span> 
                | Developer 
        // Begin About Section
        .small-wrapper
            .container#panel-about
                .row   
                    .col-sm-4.col-md-4.col-lg-4
                        .pagination-left
                            p.title About
                        img.img-rounded.img-centered(src='img/naruth.jpg')
                    .mega-about.col-sm-8.col-md-8.col-lg-8
                        p 
                            | I 
                            b develop and work with web and mobile technology. 
                            | I have accumulated more than two years of internship
                            | experience in both Thailand and the United States, offering depth and skills of a person who is competant and will use
                            | the knowledge and expertise to tackle new challenges and sets new heights.
                            | I strive to improve myself and also have an affectionate interest for all things technology.
                        p
                            | I am a 
                            b current senior 
                            | at the 
                            b University of Washington (Seattle campus), 
                            | pursuing a Bachelors' degree in Communications. 
                            
                        p
                            | I am also an 
                            b undergraduate researcher 
                            | in the Community Data Science and Collective Collective research group. To learn more about that,
                            | click 
                            a(href='https://wiki.communitydata.cc/Main_Page', target='_blank') here.
        // End About Section

        // Begin Companies Section
        #panel-companies
            .container
                mixin company-thumbnail-box(src, title, description, href, modalTitle)
                    a(data-toggle='modal', data-target= modalTitle)
                        .col-xs-12.col-sm-3.col-md-3.col-lg-3.thumbnail-boxes
                            p.text-center
                                img.img-responsive.center-block(src = src, alt = title)
                .row
                    +company-thumbnail-box('img/company_ogilvyone.png', 'OgilvyOne Worldwide (Thailand)', 'Summer 2017', '#', '#modalOgilvy')
                    +company-thumbnail-box('img/company_bitsee.png', 'Bitsee (USA)', 'January - March 2017', '#', '#modalBitsee')
                    +company-thumbnail-box('img/company_cpall.png', 'CP All (Thailand)', 'Summer 2016', '#', '#modalCPAll')
                    +company-thumbnail-box('img/company_tatankaarts.png', 'Tatanka Arts (USA)', '2012', '#', '#modalTatanka')


        // Begin Projects Section
        .small-wrapper.background-white
            .container#panel-projects
                
                    .btn-bold#moreProjectsBtn
                        a.link-white(data-toggle='collapse', href='#moreProjects', aria-expanded='false', aria-controls='moreProjects') 
                            | Reveal Projects
                            #arrow
                                i.fa.fa-chevron-down(aria-hidden='true')
                .row
                    .col-xs-12.col-sm-12.col-md-12.col-lg-12
                        .collapse#moreProjects
                            .margin-t-20

                            .row
                                .col-sm-4.col-md-4.col-lg-4
                                    .pagination-left
                                        p.title Projects

                            mixin project-box(title, description, src, modalTitle)
                                .row
                                    .project-box
                                        a(data-toggle='modal', data-target= modalTitle)
                                            .col-xs-3.col-sm-2.col-md-2.col-lg-2
                                                img(src=src)
                                            .col-xs-9.col-sm-10.col-md-10.col-lg-10
                                                h2
                                                    = title
                                                    small= description

                            .container
                                h3 Website
                                .margin-t-20
                                +project-box(
                                    'Milo TH', 
                                    'Thailand Milo\'s Futsal Campaign 2017', 
                                    'img/logo_milo.png',
                                    '#miloThailand')
                                +project-box(
                                    'NIVEA TH', 
                                    'Blogger Review articles & Product Launches pages', 
                                    'img/logo_nivea.gif',
                                    '#niveaThailand')
                                +project-box(
                                    'SHOW DC Mall', 
                                    '"Visit Section" for Guests', 
                                    'img/logo_showdc.jpg',
                                    '#showdc')
                                +project-box(
                                    'Samsung Email', 
                                    'An email template (eDM) used for Samsung Thailand to send out to customers in Thailand.', 
                                    'img/logo_samsung.png',
                                    '#samsungEmail')
                                hr
                                h3 Mobile
                                .margin-t-20
                                +project-box(
                                    'Bitsee Discover', 
                                    'Android App for Discovering Online Content', 
                                    'img/logo_bitsee.png',
                                    '#modalBitsee')
                                +project-box(
                                    '7-Eleven DC Vote', 
                                    'An Android rating app used in more than 8,000 7-Eleven stores in Thailand.', 
                                    'img/logo_7-eleven.png',
                                    '#7ElevenApp')

        // Begin Promotion Banner
        .promo-banner 
            .container
                .row
                    .col-xs-12.col-md-6.col-lg-6
                        p
                            a(href="media/Kongurai_Naruth_grad2018.pdf", title="Resume link")
                                i.hidden-xs(class="fa fa-file-text", aria-hidden="true")
                                |View Resume
                            a(href="mailto:naruthk@uw.edu", title="Email")
                                i.hidden-xs(class="fa fa-address-card", aria-hidden="true")
                                |naruthk@uw.edu

                    .col-xs-12.col-md-6.col-lg-6
                        a(href='http://www.github.com/naruthk', title='Github', target='_blank')
                            i.fa.fa-github(aria-hidden='true', target='_blank')
                        a(href='http://www.linkedin.com/in/naruthkongurai', title='Linkedin', target='_blank')
                            i.fa.fa-linkedin(aria-hidden='true', target='_blank')
                        br.visible-xs
                        a(href='http://www.facebook.com/naruthkongurai', title='Facebook', target='_blank')
                            i.fa.fa-facebook(aria-hidden='true', target='_blank')
                        a(href='http://codepen.io/naruth1212/', title='Codepen', target='_blank')
                            i.fa.fa-codepen(aria-hidden='true', target='_blank')
        // End Promotion Banner

        // Begin Development Technologies Section
        .small-wrapper.background-orange
            .container#panel-technologies
                .row   
                    .col-sm-4.col-md-4.col-lg-4
                        h3 Development Technologies
                        hr.visible-xs
                    mixin dev-tech-box(title, description)
                        .dev-tech-box
                            .row
                                .col-sm-6.col-md-6.col-lg-6
                                    p= title
                                .col-sm-6.col-md-6.col-lg-6
                                    span= description
                                    hr.visible-xs
                    .col-sm-8.col-md-8.col-lg-8
                        +dev-tech-box('Java, Python', 'Software Development')
                        +dev-tech-box('HTML, CSS, Javascript, MySQL', 'Web Development')
                        +dev-tech-box('NodeJS, Pug (Jade), SCSS, Bootstrap, Foundation', 'Web Framework & Libraries')
                        +dev-tech-box('Git, Command-Line-Interface', 'Tools')
                        +dev-tech-box('Adobe XD, Adobe Photoshop', 'Design')
                        +dev-tech-box('Sublime, Visual Stdudio Code, Android Studio, Eclipse', 'Software')
            .margin-t-60
            // End Development Technologies Section

            // Begin Footer Section
            .container
                footer
                    .row.text-center
                        .col-sm-12.col-md-12.col-lg-12 
                            p 
                                | &copy; 2017 - Naruth Kongurai
                                br
                                small Developed using PUG, Javascript, SCSS, CSS3, and Bootstrap | MIT License

        .scroll-top.page-scroll.hidden-sm.hidden-xs.hidden-lg.hidden-md
            a.btn.btn-primary(href='#page-top')
                i.fa.fa-chevron-up

        script(src='vendor/jquery/jquery.min.js')
        script(src='vendor/bootstrap/js/bootstrap.min.js')
        script(src='js/theme.js')
        script(src='js/gridgallery.js')

        // Modals


        // Ogilvy
        #modalOgilvy.modal.fade(role='dialog')
            .modal-dialog.modal-lg
                .modal-content-wrapper
                    i.exit-btn.fa.fa-times-circle(aria-hidden='true', data-dismiss='modal')
                    h3 OgilvyOne Worldwide
                    p.pagination-left 
                    p
                        img(src='img/company_ogilvyone.png', style='width: 250px;')
                    p
                        b Day-to-day responsibilities 
                        | included management of database for SHOW DC Mall website (running on Sitecore CMS), update of blogger
                        | review articles for Nivea Women Thailand, development and deployment of Milo Thailand website, and documentation updates for
                        | FWD Insurance Thailand. 
                    hr
                    p
                        b Development projects 
                        | that I directly worked on include 
                        ul
                            li 
                                a(href='http://www.showdc.co.th/') Visit Tabs - SHOW DC
                            li 
                                a(href='http://www.nivia.co.th/experience') Blogger Reviews @Sassy Society - Nivea Women Thailand
                            li 
                                a(href='http://www.nivia.co.th/experience') Nivea Oil In Lotion Product Launch - Nivea Women Thailand
                            li 
                                a(href='https://milo.co.th/%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B9%81%E0%B8%9A%E0%B9%88%E0%B8%87%E0%B8%81%E0%B8%A5%E0%B8%B8%E0%B9%88%E0%B8%A1%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B9%81%E0%B8%82%E0%B9%88%E0%B8%87%E0%B8%82%E0%B8%B1%E0%B8%99-%E0%B9%84%E0%B8%A1%E0%B9%82%E0%B8%A5-%E0%B8%9F%E0%B8%B8%E0%B8%95%E0%B8%8B%E0%B8%AD%E0%B8%A5-2017') Milo Futsal Campaign
                    hr
                    p
                        b Company: 
                        | OgilvyOne
                    p
                        b Date: 
                        | July - September 2017
                    p
                        b Development: 
                        | HTML5, CSS3, Javascript, NodeJS, SCSS, PUG, TypeScript, Visual Studio Code



        // Bitsee
        #modalBitsee.modal.fade(role='dialog')
            .modal-dialog.modal-lg
                .modal-content-wrapper
                    i.exit-btn.fa.fa-times-circle(aria-hidden='true', data-dismiss='modal')
                    h3 Bitsee
                    p.pagination-left 
                    p
                        img(src='img/company_bitsee.png')
                    p
                        b Bitsee Inc. 
                        | is a technology startup that is working on a mobile app that uses Machine Learning and Computer Vision to do automatic video analysis.    
                    p
                        b Day-to-day responsibilities 
                        | included developing the Tutorial feature within the mobile app, conducting app testing, documenting and fixing bugs and errors, and enchancing the overall interface
                    p
                        | App preview will be released soon. The official Bitsee app will be released on Google Playstore by the end of 2017. Learn more about the app 
                        a(href='http://www.bitsee.ai') here.
                    hr
                    p
                        b Company: 
                        | Bitsee
                    p
                        b Date: 
                        | January - March 2017
                    p
                        b Development: 
                        | Java, Android Studio, Genymotion, Bitbucket


        // CP All
        #modalCPAll.modal.fade(role='dialog')
            .modal-dialog.modal-lg
                .modal-content-wrapper
                    i.exit-btn.fa.fa-times-circle(aria-hidden='true', data-dismiss='modal')
                    h3 CP All
                    p.pagination-left 
                    p
                        img(src='img/company_cpall.png')
                    p
                        b CP All 
                        | is a top conglomerate in Thailand that operates 7-Eleven convenience stores in the country.
                        
                    p
                        b Day-to-day responsibilities 
                        | included developing a mobile app designed to allow 7-11 employees to submit their satisfactory ratings for services made by the Transporatation and Delivery Services                        
                    hr
                    p
                        b Mobile App (DC Vote)
                    p
                        | The app that I helped to create is currently used by more than 9000 7-11 convenience stores in Thailand. I also developed the front-end side of a webpage that establishes and retrieves various rating results from multiple databases.
                    p
                        b Website (DC Vote)
                    p
                        | The website was developed using Bootstrap, SQL, and PHP.
                    hr
                    p
                        b Company: 
                        | CP All
                    p
                        b Date: 
                        | September 2016
                    p
                        b Development: 
                        | PHP, jQuery, MySQL, Bootstrap, CSS, Java, Android, Android Studio

        // Tatanka Arts
        #modalTatanka.modal.fade(role='dialog')
            .modal-dialog.modal-lg
                .modal-content-wrapper
                    i.exit-btn.fa.fa-times-circle(aria-hidden='true', data-dismiss='modal')
                    h3 Tatanka Arts
                    p.pagination-left 
                    p
                        img(src='img/company_tatankaarts.png')
                    p
                        b Tatanka Arts 
                        | is a local organization showcasing artworks beautifully made by artists residing near/in Redwood Falls, Minnesota.
                        
                    p
                        b Day-to-day responsibilities 
                        | include developing the UX/UI on Photoshop and working with client to finalize the design, and developing the website using HTML and CSS.
                    p
                        a(href='http://www.tatankaarts.org') Learn more about the website.
                    hr
                    p
                        b Company: 
                        | Tatanka Arts
                    p
                        b Date: 
                        | 2012
                    p
                        b Development: 
                        | HTML3, CSS
        

        // Milo Thailand
        #miloThailand.modal.fade(role='dialog')
            .modal-dialog.modal-lg
                .modal-content-wrapper
                    i.exit-btn.fa.fa-times-circle(aria-hidden='true', data-dismiss='modal')
                    h3 Milo Thailand
                    p.pagination-left 
                    p
                        img(src='img/logo_milo.png')
                    p
                        | I managed the technological development side for Milo's Futsal "Road to Barcelona" 2017 Campaign that promoted Thai children to become better footballers.
                        | I worked on developing the webpages for the campaign on Drupal CMS.
                    p
                        | See it live: 
                        a(href='https://milo.co.th/%E0%B8%95%E0%B8%B2%E0%B8%A3%E0%B8%B2%E0%B8%87%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B9%81%E0%B8%82%E0%B9%88%E0%B8%87%E0%B8%82%E0%B8%B1%E0%B8%99%E0%B9%81%E0%B8%A5%E0%B8%B0%E0%B8%9C%E0%B8%A5%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B9%81%E0%B8%82%E0%B9%88%E0%B8%87%E0%B8%82%E0%B8%B1%E0%B8%99-%E0%B8%A0%E0%B8%B2%E0%B8%84%E0%B8%AD%E0%B8%B5%E0%B8%AA%E0%B8%B2%E0%B8%99') Learn more about the website.
                    hr
                    p
                        b Company: 
                        | Milo (Thailand)
                    p
                        b Date: 
                        | 2017
                    p
                        b Development: 
                        | HTML, CSS on Drupal CMS

        // Nivea Thailand
        #niveaThailand.modal.fade(role='dialog')
            .modal-dialog.modal-lg
                .modal-content-wrapper
                    i.exit-btn.fa.fa-times-circle(aria-hidden='true', data-dismiss='modal')
                    h3 Nivea (For Women) Thailand
                    p.pagination-left 
                    p
                        img(src='img/logo_nivea.gif')
                    p
                        | Nivea is one of many clients of Ogilvy & Mathers, a global advertisement agency that I interned at during the summer of 2017.
                        | The website runs on a CMS called Sitecore, which I actively used during the span of my internship period to develop and publish
                        | new campaigns and blogging articles.
                    p
                        b NIVEA Oil in Lotion 
                        | was the product of Nivea that I worked on specifically.
                        | You can view the website directly 
                        a(href='http://www.nivea.co.th/products/campaigns/ext/th-TH/NIVEA-Oil-In-Lotion') here
                        | . I helped edited Photoshop files and developed an HTML template, which was then integrated into the CMS.
                    p
                        b Blog articles 
                        | that I occasionally published on the website (written by professional bloggers) can be viewed 
                        a(href='http://www.nivea.co.th/ext/th-TH/NIVEA-FOR-LIFE/Sassy-Society') here
                        | .
                    p
                        b Sitecore 
                        | is an incredibly complicated content-manage-system to work on, but it provided me with good industry practices.
                    hr
                    p
                        b Company: 
                        | Nivea (Thailand)
                    p
                        b Date: 
                        | 2017
                    p
                        b Development: 
                        | HTML, CSS in Sitecore CMS


        // SHOW DC
        #showdc.modal.fade(role='dialog')
            .modal-dialog.modal-lg
                .modal-content-wrapper
                    i.exit-btn.fa.fa-times-circle(aria-hidden='true', data-dismiss='modal')
                    h3 SHOW DC Mall
                    p.pagination-left 
                    p
                        img(src='img/logo_showdc.jpg', style='width:300px; height:auto;')
                    p
                        b SHOW DC 
                        | is a newly built shopping complex close to Thailand's Suvanabhumi International Airport. I helped the development
                        | team to integrate new sections to the shopping complex's website and participated in the management and decision-making 
                        | between the client (SHOW DC) and the development team at Ogilvy & Mather (OgilvyOne) that I interned at.
                    p
                        b Visit Tab: 
                        | Here are some UI of what I worked on.
                    .row
                        .col-xs-12.col-sm-6.col-md-6.col-lg-6
                            img.img-thumbnail(src='img/ui_showdc.png', style='height: 400px')
                        .col-xs-12.col-sm-6.col-md-6.col-lg-6
                            img.img-thumbnail.img-responsive(src='img/ui_showdc2.jpg', style='height: 400px')
                    p
                        | See the site live 
                        a(href='http://www.showdc.co.th') here
                        | .
                    hr
                    p
                        b Company: 
                        | SHOW DC Mall
                    p
                        b Date: 
                        | 2017
                    p
                        b Development: 
                        | HTML, CSS, Javascript in Sitecore CMS


        // Samsung email template
        #samsungEmail.modal.fade(role='dialog')
            .modal-dialog.modal-lg
                .modal-content-wrapper
                    i.exit-btn.fa.fa-times-circle(aria-hidden='true', data-dismiss='modal')
                    h3 Samsung
                    p.pagination-left 
                    p
                        img(src='img/logo_samsung.png', style='width:300px; height:auto;')
                    p
                        | I developed an email template for Samsung using HTML and Foundation for Email (Inky). Visual Studio Code was the code editor I used.
                    p
                        b Email Template: 
                    p
                        img.img-thumbnail(src='img/ui_samsung_edm.png', style='width: 50%')
                    hr
                    p
                        b Company: 
                        | Samsung
                    p
                        b Date: 
                        | 2017
                    p
                        b Development: 
                        | HTML, CSS (inline), Foundation (For Email)



        // DC Vote App
        #7ElevenApp.modal.fade(role='dialog')
            .modal-dialog.modal-lg
                .modal-content-wrapper
                    i.exit-btn.fa.fa-times-circle(aria-hidden='true', data-dismiss='modal')
                    h3 DC Vote App by 7-Eleven
                    p.pagination-left 
                    p
                        img(src='img/logo_7-eleven.png', style='width:300px; height:auto;')
                    p
                        b DC Satisfaction Voting App 
                        | is a user-friendly and speedy app that allows employees of 7-Eleven
                        | (which is owned by CP All) to rate how well they are satisfied with the services and the
                        | delivery of goods. The app is now used by thousands of employees working at more than 8,000
                        | 7-Eleven convenience stores in Thailand. The app's interface is in Thai.
                    p
                        br
                        img.img-centered.img-responsive(src='img/mobile_dcsatisfaction_mock_home.png')
                    p
                        b App Logic + Initial Design
                    p
                        img.img-centered.img-responsive(src='img/dcvoteapp_logic.png')
                    p
                        | It is an important to make sure the app was very easy to use in one hand. Many of the users might
                        | be using the app while carrying packages or be in the process of delivering them. It was
                        | equally important to ensure the user experiences a seamless transition from one section of
                        | the app to another.
                    .margin-t-20
                    p
                        b Simplistic Design
                    .row
                        .col-xs-12.col-sm-12.col-md-4.col-lg-4
                            img.img-responsive.img-centered(src='img/mobile_dcsatisfaction_mock_login.png')
                        .col-xs-12.col-sm-12.col-md-4.col-lg-4
                            img.img-responsive.img-centered(src='img/mobile_dcsatisfaction_mock_home.png')
                        .col-xs-12.col-sm-12.col-md-4.col-lg-4
                            img.img-responsive.img-centered(src='img/mobile_dcsatisfaction_mock_vote.png')
                    hr
                    p
                        b Company: 
                        | 7-Eleven (by CP All)
                    p
                        b Date: 
                        | 2016
                    p
                        b Development: 
                        | Java, Android Studio, Adobe Photoshop, Sublime, JSON