// Naruth Kongurai
// Official personal website / projects / portfolio
// 2017
// v. 2.0
// MIT License

doctype html
html(lang = en)
    head
        include header.pug
        title Naruth Kongurai (Sam)
    body

        // begin of header
        header
            .container
                .row
                    .col-sm-6.col-md-6.col-lg-6
                        .header-logo
                            a(href="http://www.naruthk.com") Naruth Kongurai
                    .col-sm-6.col-md-6.col-lg-6.hidden-xs
                        .header-logo-slogan.text-right
                            | Aspiring 
                            br.visible-xs
                            <span>Mobile</span> +
                            <span>Web</span> 
                            | Developer  
                
                // div to show on small screen only
                #mobile-slogan
                    .visible-xs.text-center
                        .small-wrapper
                            h2
                                | Aspiring 
                                br.visible-xs
                                <span>Mobile</span> +
                                <span>Web</span> 
                                | Developer 
        // end of div
        
        // end of header


        // Begin Promotion Banner
        .feature-banner 
            .container
                .row
                    include social.pug
        // End Promotion Banner

        // Begin About Section
        #about.container
            .small-wrapper
                .row
                    .col-sm-4.col-md-4.col-lg-4
                        #about-avatar
                            p
                                img.img-rounded.img-responsive(src='img/naruth2.jpg')
                    .col-sm-8.col-md-8.col-lg-8
                        .mega-about
                            h2 Hi, my name is 
                                b Naruth Kongurai
                                | .
                            p 
                                | I am a senior currently studying at the University of Washington, majoring in Communications and minoring in Informatics.
                            p 
                                | My interest for web and mobile development started more than three years ago at the time when I was a freshmen at the University of Washington. From that day forward, I began studying intensively on programming languages like Java and their data structures. I also started creating mobile apps on Android and developed websites for global companies like Nivea.
                            h2 Available for 
                                b 
                                    a(href="mailto:contact@naruthk.com") hire
                                | .
                            p
                                | I am available for hire as a software engineer! 
                            p 
                                | That means full-time, part-time, or even an internship position are all accepted.
                            p
                                | I cannot wait to get in touch with you. Feel free to reach out to me by my email address: 
                                a(href="mailto:contact@naruthk.com") contact@naruthk.com
        // End About Section

        // Begin Companies Section
        #companies
            .container
                //- mixin company-thumbnail-box(src, title, description, href, modalTitle)
                //-     a(data-toggle='modal', data-target= modalTitle)
                //-         .col-xs-12.col-sm-3.col-md-3.col-lg-3.thumbnail-boxes
                //-             p.text-center
                //-                 img.img-responsive.center-block(src = src, alt = title)
                mixin company-thumbnail-box(src, title, description, href)
                    a(href= href, target="_blank")
                        .col-xs-12.col-sm-3.col-md-3.col-lg-3.thumbnail-boxes
                            p.text-center
                                img.img-responsive.center-block(src = src, alt = title)
                .row
                    //- +company-thumbnail-box('img/company_ogilvyone.png', 'OgilvyOne Worldwide (Thailand)', 'Summer 2017', '#', '#modalOgilvy')
                    //- +company-thumbnail-box('img/company_bitsee.png', 'Bitsee (USA)', 'January - March 2017', '#', '#modalBitsee')
                    //- +company-thumbnail-box('img/company_cpall.png', 'CP All (Thailand)', 'Summer 2016', '#', '#modalCPAll')
                    //- +company-thumbnail-box('img/company_tatankaarts.png', 'Tatanka Arts (USA)', '2012', '#', '#modalTatanka')
                    +company-thumbnail-box('img/company_ogilvyone.png', 'OgilvyOne Worldwide (Thailand)', 'Summer 2017', 'ogilvyone.html')
                    +company-thumbnail-box('img/company_bitsee.png', 'Bitsee (USA)', 'January - March 2017', 'bitsee.html')
                    +company-thumbnail-box('img/company_cpall.png', 'CP All (Thailand)', 'Summer 2016', 'cpall.html')
                    +company-thumbnail-box('img/company_tatankaarts.png', 'Tatanka Arts (USA)', '2012', 'tatankaarts.html')

        // Begin Development Technologies Section
        #technologies
            .container
                .small-wrapper
                    .row   
                        .col-sm-4.col-md-4.col-lg-4
                            h3 Development Technologies
                            .margin-t-20
                        mixin dev-tech-box(title, description)
                            .dev-tech-box
                                .row
                                    .col-sm-12.col-md-12.col-lg-12
                                        span= description
                                        p= title
                                    .margin-t-20
                        .col-sm-8.col-md-8.col-lg-8
                            +dev-tech-box('Java, Python, Swift', 'Software Development')
                            +dev-tech-box('HTML, CSS, Javascript, MySQL', 'Web Development')
                            +dev-tech-box('NodeJS, Pug (Jade), SCSS, Bootstrap, Foundation', 'Web Framework & Libraries')
                            +dev-tech-box('Git, Command-Line-Interface', 'Tools')
                            +dev-tech-box('Adobe XD, Adobe Photoshop', 'Design')
                            +dev-tech-box('Sublime, Visual Studio Code, Android Studio, Eclipse, Genymotion', 'Software')
            .margin-t-60
        // End Development Technologies Section

        // Begin Projects Section
        #projects
            .container
                .small-wrapper.background-white
                    .row
                        .col-xs-12.col-sm-12.col-md-12.col-lg-12
                            .margin-t-20
                            .container.text-center
                                h2 Projects
                                .margin-t-20
                                p 
                                    | Over the past 3-4 years, I have been doing professional and non-professional projects either with a team of developers or alone.
                                br
                            .container.text-center
                                .row
                                    .col-xs-6.col-md-6.col-lg-6(style="padding-right:20px; border-right: 1px solid #ccc;")
                                        a(href='http://www.github.com/naruthk' title='Github', target='_blank') 
                                            | See more on 
                                            i.fa.fa-github(aria-hidden='true')
                                    .col-xs-6.col-md-6.col-lg-6
                                        a(href='http://www.linkedin.com/in/naruthkongurai' title='LinkedIn', target='_blank') 
                                            | View profile on 
                                            i.fa.fa-linkedin(aria-hidden='true')
                            .margin-t-20
                            br
                            mixin project-box(title, description, src, modalTitle)
                                .row
                                    .project-box
                                        a(data-toggle='modal', data-target= modalTitle)
                                            .col-xs-12.col-sm-2.col-md-2.col-lg-2
                                                img(src=src)
                                            .col-xs-12.col-sm-10.col-md-10.col-lg-10
                                                p
                                                    = description
                            .container
                                h3 Website
                                .margin-t-20
                                +project-box(
                                    'Milo TH', 
                                    'Thailand Milo\'s Futsal Campaign 2017', 
                                    'img/logo_milo.png',
                                    '#miloThailand')
                                +project-box(
                                    'NIVEA TH', 
                                    'Blogger Review articles & Product Launches pages', 
                                    'img/logo_nivea.gif',
                                    '#niveaThailand')
                                +project-box(
                                    'SHOW DC Mall', 
                                    '"Visit Section" for Guests', 
                                    'img/logo_showdc.jpg',
                                    '#showdc')
                                +project-box(
                                    'Samsung Email', 
                                    'An email template (eDM) used for Samsung Thailand to send out to customers in Thailand.', 
                                    'img/logo_samsung.png',
                                    '#samsungEmail')
                                hr
                                h3 Mobile
                                .margin-t-20
                                +project-box(
                                    'Bitsee Discover', 
                                    'Android App for Discovering Online Content', 
                                    'img/logo_bitsee.png',
                                    '#modalBitsee')
                                +project-box(
                                    '7-Eleven DC Vote', 
                                    'An Android rating app used in more than 8,000 7-Eleven stores in Thailand.', 
                                    'img/logo_7-eleven.png',
                                    '#7ElevenApp')
                                hr
                                h3 Software
                                .margin-t-20
                                +project-box(
                                    'PCLI Soccer App',
                                    'Fetches scoreline updates, league standings, and players information for Liverpool F.C., an England soccer team. Built using Python',
                                    'img/logo_cli-app.png',
                                    '#cli-soccer')
        
        // Begin Promotion Banner
        .feature-banner 
            .container
                .row
                    include social.pug
            // End Promotion Banner

            // Begin Footer Section
            .container
                .margin-t-20
                footer
                    .row.text-center
                        .col-sm-12.col-md-12.col-lg-12 
                            p 
                                | &copy; 2017 - Naruth Kongurai
                            p
                                small I developed the site purely using SCSS and a tiny amount of Javascript. Development tools include NodeJS, Gulp, Bootstrap and Pug for easy HTML editing.

        .scroll-to-top
            a(href='#about')
                i.fa.fa-chevron-up

        include modals.pug

        script(src='vendor/jquery/jquery.min.js')
        script(src='vendor/bootstrap/js/bootstrap.min.js')
        script(src='js/theme.js')