// Naruth Kongurai
// Official personal website / projects / portfolio
// 2017
// v. 1.2
// MIT License

doctype html
html(lang = en)
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='Official website. Downlad my Resume. View my Projects. More information available.')
        meta(name='author', content='Naruth Kongurai')
        title Naruth Kongurai (Sam)

        // Favicons
        link(rel="apple-touch-icon", sizes="180x180", href="img/favicons/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="img/favicons/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="img/favicons/favicon-16x16.png")
        link(rel="manifest", href="img/favicons/manifest.json")
        link(rel="mask-icon", href="img/favicons/safari-pinned-tab.svg", color="#5bbad5")
        meta(name="theme-color", content="#ffffff")

        // Styles
        link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
        link(href='css/main.css', rel='stylesheet')
        link(href='vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
        
        // Google Fonts
        link(href='https://fonts.googleapis.com/css?family=Assistant:300,400,500,600,700', rel='stylesheet', type='text/css')

    body

        // begin of header
        header
            .container
                .row
                    .col-sm-6.col-md-6.col-lg-6
                        .header-logo
                            a(href="http://www.naruthk.com") Naruth Kongurai
                    .col-sm-6.col-md-6.col-lg-6.hidden-xs
                        .header-logo-slogan.text-right
                            | Aspiring 
                            br.visible-xs
                            <span>Mobile</span> +
                            <span>Web</span> 
                            | Developer  
                
                // div to show on small screen only
                #mobile-slogan
                    .visible-xs.text-center
                        .small-wrapper
                            h2
                                | Aspiring 
                                br.visible-xs
                                <span>Mobile</span> +
                                <span>Web</span> 
                                | Developer 
        // end of div
        
        // end of header


        // Begin Promotion Banner
        .feature-banner 
            .container
                .row
                    .col-xs-12.col-md-12.col-lg-12
                        a(href="media/Kongurai_Naruth_grad2018.pdf", title="Resume link")
                            i(class="fa fa-file-text", aria-hidden="true")
                        a(href="mailto:contact@naruthk.com", title="Email")
                            i(class="fa fa-envelope-o", aria-hidden="true")
                        a(href='http://www.github.com/naruthk', title='Github', target='_blank')
                            i.fa.fa-github(aria-hidden='true', target='_blank')
                        a(href='http://www.linkedin.com/in/naruthkongurai', title='Linkedin', target='_blank')
                            i.fa.fa-linkedin(aria-hidden='true', target='_blank')
                        a(href='https://twitter.com/naruthkongurai', title='Twitter', target='_blank')
                            i.fa.fa-twitter(aria-hidden='true', target='_blank')
                        // a(href='http://codepen.io/naruth1212/', title='Codepen', target='_blank')
                            i.fa.fa-codepen(aria-hidden='true', target='_blank')
        // End Promotion Banner

        // Begin About Section
        #about.container
            .small-wrapper
                .row   
                    .col-sm-4.col-md-4.col-lg-4
                        #about-title
                            p About
                        #about-avatar
                            p
                                img.img-rounded.img-responsive(src='img/naruth2.jpg')
                    .col-sm-8.col-md-8.col-lg-8
                        .mega-about
                            p 
                                | My name is Naruth Kongurai. I am a senior currently studying at the University of Washington, majoring in Communications and minoring in Informatics. I am enrolling in Udacity's 
                                a(href='https://www.udacity.com/course/android-developer-nanodegree-by-google--nd801') Android Developer Nanodegree program.
                            hr
                            p
                                | I develop and work with web and mobile technology. A list of my past work at various companies and recent projects can all be found below.
                            hr
                            p
                                b I am available for hire as a software engineer! (Full time, part time, internship position).
                            p
                                | Feel free to reach out to me by the email address: 
                                a(href="mailto:contact@naruthk.com") contact@naruthk.com
        // End About Section

        // Begin Companies Section
        #companies
            .container
                mixin company-thumbnail-box(src, title, description, href, modalTitle)
                    a(data-toggle='modal', data-target= modalTitle)
                        .col-xs-12.col-sm-3.col-md-3.col-lg-3.thumbnail-boxes
                            p.text-center
                                img.img-responsive.center-block(src = src, alt = title)
                .row
                    +company-thumbnail-box('img/company_ogilvyone.png', 'OgilvyOne Worldwide (Thailand)', 'Summer 2017', '#', '#modalOgilvy')
                    +company-thumbnail-box('img/company_bitsee.png', 'Bitsee (USA)', 'January - March 2017', '#', '#modalBitsee')
                    +company-thumbnail-box('img/company_cpall.png', 'CP All (Thailand)', 'Summer 2016', '#', '#modalCPAll')
                    +company-thumbnail-box('img/company_tatankaarts.png', 'Tatanka Arts (USA)', '2012', '#', '#modalTatanka')

        // Begin Development Technologies Section
        #technologies
            .container
                .small-wrapper
                    .row   
                        .col-sm-4.col-md-4.col-lg-4
                            h3 Development Technologies
                            hr.visible-xs
                        mixin dev-tech-box(title, description)
                            .dev-tech-box
                                .row
                                    .col-sm-12.col-md-12.col-lg-12
                                        span= description
                                        p= title
                                    .margin-t-20
                                    //- .col-sm-6.col-md-6.col-lg-6
                                    //-     span= description
                                        //hr.visible-xs
                        .col-sm-8.col-md-8.col-lg-8
                            +dev-tech-box('Java, Python, Swift', 'Software Development')
                            +dev-tech-box('HTML, CSS, Javascript, MySQL', 'Web Development')
                            +dev-tech-box('NodeJS, Pug (Jade), SCSS, Bootstrap, Foundation', 'Web Framework & Libraries')
                            +dev-tech-box('Git, Command-Line-Interface', 'Tools')
                            +dev-tech-box('Adobe XD, Adobe Photoshop', 'Design')
                            +dev-tech-box('Sublime, Visual Studio Code, Android Studio, Eclipse, Genymotion', 'Software')
            .margin-t-60
        // End Development Technologies Section

        // Begin Projects Section
        #projects
            .container
                .small-wrapper.background-white
                    //- .btn-bold#projects-button-wrapper
                    //-     a.link-white#projects-button-click(data-toggle='collapse', href='#moreProjects', aria-expanded='false', aria-controls='moreProjects') 
                    //-         | See My Projects
                    //-         #arrow
                    //-             i.fa.fa-chevron-down(aria-hidden='true')
                    .row
                        .col-xs-12.col-sm-12.col-md-12.col-lg-12
                            //- .collapse#moreProjects
                            .margin-t-20
                            .row
                                .col-sm-4.col-md-4.col-lg-4
                                    #projects-title
                                        p.title Projects
                            mixin project-box(title, description, src, modalTitle)
                                .row
                                    .project-box
                                        a(data-toggle='modal', data-target= modalTitle)
                                            //- .col-xs-3.col-sm-2.col-md-2.col-lg-2
                                            //-     img(src=src)
                                            //- .col-xs-9.col-sm-10.col-md-10.col-lg-10
                                            //-     p
                                            //-         = description
                                            .col-xs-12.col-sm-2.col-md-2.col-lg-2
                                                img(src=src)
                                                //- .margin-t-20
                                            .col-xs-12.col-sm-10.col-md-10.col-lg-10
                                                p
                                                    = description
                                                //- .margin-t-20
                            .container
                                h3 Website
                                .margin-t-20
                                +project-box(
                                    'Milo TH', 
                                    'Thailand Milo\'s Futsal Campaign 2017', 
                                    'img/logo_milo.png',
                                    '#miloThailand')
                                +project-box(
                                    'NIVEA TH', 
                                    'Blogger Review articles & Product Launches pages', 
                                    'img/logo_nivea.gif',
                                    '#niveaThailand')
                                +project-box(
                                    'SHOW DC Mall', 
                                    '"Visit Section" for Guests', 
                                    'img/logo_showdc.jpg',
                                    '#showdc')
                                +project-box(
                                    'Samsung Email', 
                                    'An email template (eDM) used for Samsung Thailand to send out to customers in Thailand.', 
                                    'img/logo_samsung.png',
                                    '#samsungEmail')
                                hr
                                h3 Mobile
                                .margin-t-20
                                +project-box(
                                    'Bitsee Discover', 
                                    'Android App for Discovering Online Content', 
                                    'img/logo_bitsee.png',
                                    '#modalBitsee')
                                +project-box(
                                    '7-Eleven DC Vote', 
                                    'An Android rating app used in more than 8,000 7-Eleven stores in Thailand.', 
                                    'img/logo_7-eleven.png',
                                    '#7ElevenApp')
                                hr
                                h3 Software
                                .margin-t-20
                                +project-box(
                                    'PCLI Soccer App',
                                    'Fetches scoreline updates, league standings, and players information for Liverpool F.C., an England soccer team. Built using Python',
                                    'img/logo_cli-app.png',
                                    '#cli-soccer')
        
        // Begin Promotion Banner
        .feature-banner 
            .container
                .row
                    .col-xs-12.col-md-6.col-lg-6
                        p
                            a(href="media/Kongurai_Naruth_grad2018.pdf", title="Resume link")
                                i.hidden-xs(class="fa fa-file-text", aria-hidden="true")
                                |Resume
                            a(href="mailto:contact@naruthk.com", title="Email")
                                i.hidden-xs(class="fa fa-envelope-o", aria-hidden="true")
                                |Email
                    .col-xs-12.col-md-6.col-lg-6
                        a(href='http://www.github.com/naruthk', title='Github', target='_blank')
                            i.fa.fa-github(aria-hidden='true', target='_blank')
                        a(href='http://www.linkedin.com/in/naruthkongurai', title='Linkedin', target='_blank')
                            i.fa.fa-linkedin(aria-hidden='true', target='_blank')
                        a(href='https://twitter.com/naruthkongurai', title='Twitter', target='_blank')
                            i.fa.fa-twitter(aria-hidden='true', target='_blank')
                        // a(href='http://codepen.io/naruth1212/', title='Codepen', target='_blank')
                            i.fa.fa-codepen(aria-hidden='true', target='_blank')
            // End Promotion Banner

            // Begin Footer Section
            .container
                .margin-t-20
                footer
                    .row.text-center
                        .col-sm-12.col-md-12.col-lg-12 
                            p 
                                | &copy; 2017 - Naruth Kongurai
                                br
                                small Developed using Pug (Jade), Javascript, SCSS, CSS3, Gulp, and Bootstrap | MIT License

        .scroll-to-top
            a(href='#about')
                i.fa.fa-chevron-up

        include modals.pug

        script(src='vendor/jquery/jquery.min.js')
        script(src='vendor/bootstrap/js/bootstrap.min.js')
        script(src='js/theme.js')