// Naruth Kongurai
// Official personal website / projects / portfolio
// 2017
// v. 2.0
// MIT License

doctype html
html(lang = en)
    head
        include header.pug
        title Naruth Kongurai (Sam)
    body

        // begin of header
        header
            .container
                .row
                    .col-sm-6.col-md-6.col-lg-6
                        .header-logo.text-center
                            a(href="http://www.naruthk.com") Naruth Kongurai
                    .col-sm-6.col-md-6.col-lg-6.hidden-xs
                        .header-logo-slogan.text-right
                            | Technology <span>Communicator</span>.
                            br
                            | Aspiring  
                            <span>Mobile</span> +
                            <span>Web Developer</span> 
                
                // div to show on small screen only
                #mobile-slogan
                    .visible-xs.text-center
                        .small-wrapper
                            h2
                                | Technology <span>Communicator</span>
                                br.visible-xs
                                | Aspiring 
                                <span>Mobile</span> +
                                <span>Web Developer</span> 
        // end of div
        
        // end of header


        // Begin Promotion Banner
        .feature-banner 
            .container
                .row
                    include social.pug
        // End Promotion Banner

        // Begin About Section
        #about.container
            .small-wrapper
                .row
                    .col-sm-4.col-md-4.col-lg-4
                        #about-avatar
                            p
                                img.img-rounded.img-responsive(src='img/naruth2.jpg')
                    .col-sm-8.col-md-8.col-lg-8
                        .mega-about
                            h2 Hi, my name is 
                                b Naruth Kongurai
                                | .
                            p
                                | I am currently a senior attending the 
                                b University of Washington 
                                | ,majoring in 
                                b Communications 
                                | and minoring in 
                                b Informatics
                                | .
                            p
                                | My interest for web and mobile development started more than three years ago at the time when I was a freshmen at the University of Washington. From that day forward...
                            .special(style="margin-left: 40px;")
                                p
                                    span.label.label-success 9000+ 
                                    br.visible-xs
                                    | 7-Eleven convenience stores in Thailand are using my mobile apps that I developed for them.
                                p
                                    span.label.label-primary  Ogilvy One Worldwide & Bitsee
                                    br.visible-xs
                                    | I know how the media and software industry works, having gained internship experiences from globally known to rising startups in Artificial Intelligence.
                                p
                                    span.label.label-warning Open-source Contributions 
                                    br.visible-xs
                                    | I highly value projects that are open-soruced and I love to collaborate with other developers on 
                                    a(href="https://github.com/naruthk" target="_blank") GitHub
                                    | .
                                p
                                    span.label.label-danger 1 App on the App Store
                                    br.visible-xs
                                    | It's called 
                                    a(href="http://www.naruthk.com/app/notes/" target="_blank") Distraction-Free - Note-Taking
                                    | .
                                p
                                    span.label.label-info Courses I've Taken
                                    br.visible-xs
                                    | iOS Development, Web Programming, Data Structures and Algorithms, Foundation of Informatics. See more 
                                    a(href="http://www.github.com/naruthk/technical-interviews" target="_blank") here!
                                p
                                    a(href="#")
                                        span.label.label-default Writing tech blogs
                                        br.visible-xs
                                        | Coming soon!
                            hr
                            p I am 
                                b available for hire! 
                                | Let's get in touch by emailing to 
                                a(href="mailto:contact@naruthk.com" target="_blank") contact@naruthk.com
                                | . Feel free to also see my <a href="http://www.naruthk.com/media/Kongurai_Naruth_grad2018.pdf" target="_blank">resume</a>.
        // End About Section

        // Begin Companies Section
        #companies
            .container
                mixin company-thumbnail-box(src, title, description, href)
                    a(href= href, target="_blank")
                        .col-xs-12.col-sm-3.col-md-3.col-lg-3.thumbnail-boxes
                            p.text-center
                                img.img-responsive.center-block(src = src, alt = title)
                .row
                    +company-thumbnail-box('img/company_ogilvyone.png', 'OgilvyOne Worldwide (Thailand)', 'Summer 2017', 'ogilvyone.html')
                    +company-thumbnail-box('img/company_bitsee.png', 'Bitsee (USA)', 'January - March 2017', 'bitsee.html')
                    +company-thumbnail-box('img/company_cpall.png', 'CP All (Thailand)', 'Summer 2016', 'cpall.html')
                    +company-thumbnail-box('img/company_tatankaarts.png', 'Tatanka Arts (USA)', '2012', 'tatankaarts.html')

        // Begin Development Technologies Section
        #technologies
            .container
                .small-wrapper
                    .row   
                        .col-sm-4.col-md-4.col-lg-4
                            h3 Development Technologies
                            .margin-t-20
                        mixin dev-tech-box(title, description)
                            .dev-tech-box
                                .row
                                    .col-sm-12.col-md-12.col-lg-12
                                        span= description
                                        p= title
                                    .margin-t-20
                        .col-sm-8.col-md-8.col-lg-8
                            +dev-tech-box('Java, Python, Swift', 'Software Development')
                            +dev-tech-box('HTML, CSS, Javascript, MySQL', 'Web Development')
                            +dev-tech-box('NodeJS, Pug (Jade), SCSS, Bootstrap, Foundation', 'Web Framework & Libraries')
                            +dev-tech-box('Git, Command-Line-Interface', 'Tools')
                            +dev-tech-box('Adobe XD, Adobe Photoshop', 'Design')
                            +dev-tech-box('Sublime, Visual Studio Code, Android Studio, Eclipse, Genymotion', 'Software')
            .margin-t-60
        // End Development Technologies Section
        
        // Begin Projects Section
        #projects
            .container
                .small-wrapper.background-white
                    .row
                        .col-xs-12.col-sm-12.col-md-12.col-lg-12
                            .margin-t-20
                            .width-50.text-center
                                h2 Projects
                                .margin-t-20
                                br
                            .text-center
                                .row
                                    .col-xs-12.col-md-6.col-lg-6
                                        .col-xs-6.col-md-6.col-lg-6.div-line-divider
                                            a(href='http://www.github.com/naruthk' title='Github', target='_blank') 
                                                | See more on 
                                                i.fa.fa-github(aria-hidden='true')
                                        .col-xs-6.col-md-6.col-lg-6
                                            a(href='http://www.linkedin.com/in/naruthkongurai' title='LinkedIn', target='_blank') 
                                                | View profile on 
                                                i.fa.fa-linkedin(aria-hidden='true')
                                            .margin-t-20
                                    .col-xs-12.col-md-6.col-lg-6
                                        .margin-t-60.visible-xs
                                        .toolbar.mb2.mt2
                                            button.btn.fil-cat(href="", data-rel="all") All
                                            button.btn.fil-cat(data-rel="web") Website
                                            button.btn.fil-cat(data-rel="mobile") Mobile
                                            button.btn.fil-cat(data-rel="design") Design
                                            button.btn.fil-cat(data-rel="software") Software
                                        div(style="clear:both;")

                    .row    
                        .col-xs-12.col-sm-12.col-md-12.col-lg-12             
                            #portfolio
                                .tile.scale-anm.web.all
                                    a(href='#', data-toggle='modal', data-target= '#project-free-portfolio-theme')
                                        img(src="img/project-web-free-template.png", alt="Free Portfolio Theme")
                                .tile.scale-anm.web.all
                                    a(href='#', data-toggle='modal', data-target= '#project-nivea')
                                        img(src="img/ui-web-nivea.png", alt="Nivea")
                                .tile.scale-anm.software.all
                                    a(href='#', data-toggle='modal', data-target= '#project-pcli')
                                        img(src="img/ui-software-pcli.png", alt="PCLI")
                                .tile.scale-anm.mobile.all
                                    a(href='app/notes/', target="_blank")
                                        img(src="http://www.naruthk.com/img/apps/notes/Preview-iPhone-2.png", alt="Daily Notes App")
                                .tile.scale-anm.web.all
                                    a(href='#', data-toggle='modal', data-target= '#project-nivea')
                                        img(src="img/ui-web-nivea2.png", alt="Nivea")
                                .tile.scale-anm.design.all
                                    a(href='#', data-toggle='modal', data-target= '#project-samsung')
                                        img.img-width-half(src="img/ui-web-samsung.png", alt="Samsung")
                                .tile.scale-anm.web.all
                                    a(href='#', data-toggle='modal', data-target= '#project-showdc')
                                        img(src="img/ui_showdc.png", alt="Show DC")
                                .tile.scale-anm.mobile.all
                                    a(href="bitsee.html", target="_blank")
                                        img(src="img/ui-mobile-bitsee.png", alt="Bitsee")
                                .tile.scale-anm.mobile.all
                                    a(href='#', data-toggle='modal', data-target= '#project-dcvote')
                                        img(src="img/ui-mobile-dcvote.png", alt="DC Vote")
                                .tile.scale-anm.web.all
                                    a(href='#', data-toggle='modal', data-target= '#project-milo')
                                        img(src="img/ui-web-milo.png", alt="Milo")
                            div(style="clear:both;")
        
        include footer.pug