// Ogilvy
#modalOgilvy.modal.fade(role='dialog')
    .modal-dialog.modal-lg
        .modal-content-wrapper
            i.exit-btn.fa.fa-times-circle(aria-hidden='true', data-dismiss='modal')
            h3 OgilvyOne Worldwide
            p.pagination-left 
            p
                img(src='img/company_ogilvyone.png', style='width: 200px;')
            p
                b Day-to-day responsibilities 
                | included management of database for SHOW DC Mall website (running on Sitecore CMS), update of blogger
                | review articles for Nivea Women Thailand, development and deployment of Milo Thailand website, and documentation updates for
                | FWD Insurance Thailand. 
            hr
            p
                b Development projects 
                | that I directly worked on include 
                ul
                    li 
                        a(href='http://www.showdc.co.th/') Visit Tabs - SHOW DC
                    li 
                        a(href='http://www.nivia.co.th/experience') Blogger Reviews @Sassy Society - Nivea Women Thailand
                    li 
                        a(href='http://www.nivia.co.th/experience') Nivea Oil In Lotion Product Launch - Nivea Women Thailand
                    li 
                        a(href='https://milo.co.th/%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B9%81%E0%B8%9A%E0%B9%88%E0%B8%87%E0%B8%81%E0%B8%A5%E0%B8%B8%E0%B9%88%E0%B8%A1%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B9%81%E0%B8%82%E0%B9%88%E0%B8%87%E0%B8%82%E0%B8%B1%E0%B8%99-%E0%B9%84%E0%B8%A1%E0%B9%82%E0%B8%A5-%E0%B8%9F%E0%B8%B8%E0%B8%95%E0%B8%8B%E0%B8%AD%E0%B8%A5-2017') Milo Futsal Campaign
            hr
            p
                b Company: 
                | OgilvyOne
            p
                b Date: 
                | July - September 2017
            p
                b Development: 
                | HTML5, CSS3, Javascript, NodeJS, SCSS, PUG, TypeScript, Visual Studio Code



// Bitsee
#modalBitsee.modal.fade(role='dialog')
    .modal-dialog.modal-lg
        .modal-content-wrapper
            i.exit-btn.fa.fa-times-circle(aria-hidden='true', data-dismiss='modal')
            h3 Bitsee
            p.pagination-left 
            p
                img.img-responsive(src='img/company_bitsee.png')
            p
                b Bitsee Inc. 
                | is a technology startup that is working on a mobile app that uses Machine Learning and Computer Vision to do automatic video analysis.    
            p
                b Day-to-day responsibilities 
                | included developing the Tutorial feature within the mobile app, conducting app testing, documenting and fixing bugs and errors, and enchancing the overall interface
            p
                | App preview will be released soon. The official Bitsee app will be released on Google Playstore by the end of 2017. Learn more about the app 
                a(href='http://www.bitsee.ai') here.
            hr
            p
                b Company: 
                | Bitsee
            p
                b Date: 
                | January - March 2017
            p
                b Development: 
                | Java, Android Studio, Genymotion, Bitbucket


// CP All
#modalCPAll.modal.fade(role='dialog')
    .modal-dialog.modal-lg
        .modal-content-wrapper
            i.exit-btn.fa.fa-times-circle(aria-hidden='true', data-dismiss='modal')
            h3 CP All
            p.pagination-left 
            p
                img.img-responsive(src='img/company_cpall.png')
            p
                b CP All 
                | is a top conglomerate in Thailand that operates 7-Eleven convenience stores in the country.
                
            p
                b Day-to-day responsibilities 
                | included developing a mobile app designed to allow 7-11 employees to submit their satisfactory ratings for services made by the Transporatation and Delivery Services                        
            hr
            p
                b Mobile App (DC Vote)
            p
                | The app that I helped to create is currently used by more than 9000 7-11 convenience stores in Thailand. I also developed the front-end side of a webpage that establishes and retrieves various rating results from multiple databases.
            p
                b Website (DC Vote)
            p
                | The website was developed using Bootstrap, SQL, and PHP.
            hr
            p
                b Company: 
                | CP All
            p
                b Date: 
                | September 2016
            p
                b Development: 
                | PHP, jQuery, MySQL, Bootstrap, CSS, Java, Android, Android Studio

// Tatanka Arts
#modalTatanka.modal.fade(role='dialog')
    .modal-dialog.modal-lg
        .modal-content-wrapper
            i.exit-btn.fa.fa-times-circle(aria-hidden='true', data-dismiss='modal')
            h3 Tatanka Arts
            p.pagination-left 
            p
                img.img-responsive(src='img/company_tatankaarts.png')
            p
                b Tatanka Arts 
                | is a local organization showcasing artworks beautifully made by artists residing near/in Redwood Falls, Minnesota.
                
            p
                b Day-to-day responsibilities 
                | include developing the UX/UI on Photoshop and working with client to finalize the design, and developing the website using HTML and CSS.
            p
                a(href='http://www.tatankaarts.org') Learn more about the website.
            hr
            p
                b Company: 
                | Tatanka Arts
            p
                b Date: 
                | 2012
            p
                b Development: 
                | HTML3, CSS


// Milo Thailand
#miloThailand.modal.fade(role='dialog')
    .modal-dialog.modal-lg
        .modal-content-wrapper
            i.exit-btn.fa.fa-times-circle(aria-hidden='true', data-dismiss='modal')
            h3 Milo Thailand
            p.pagination-left 
            p
                img.img-responsive(src='img/logo_milo.png')
            p
                | I managed the technological development side for Milo's Futsal "Road to Barcelona" 2017 Campaign that promoted Thai children to become better footballers.
                | I worked on developing the webpages for the campaign on Drupal CMS.
            p
                | See it live: 
                a(href='https://milo.co.th/%E0%B8%95%E0%B8%B2%E0%B8%A3%E0%B8%B2%E0%B8%87%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B9%81%E0%B8%82%E0%B9%88%E0%B8%87%E0%B8%82%E0%B8%B1%E0%B8%99%E0%B9%81%E0%B8%A5%E0%B8%B0%E0%B8%9C%E0%B8%A5%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B9%81%E0%B8%82%E0%B9%88%E0%B8%87%E0%B8%82%E0%B8%B1%E0%B8%99-%E0%B8%A0%E0%B8%B2%E0%B8%84%E0%B8%AD%E0%B8%B5%E0%B8%AA%E0%B8%B2%E0%B8%99') Learn more about the website.
            hr
            p
                b Company: 
                | Milo (Thailand)
            p
                b Date: 
                | 2017
            p
                b Development: 
                | HTML, CSS on Drupal CMS

// Nivea Thailand
#niveaThailand.modal.fade(role='dialog')
    .modal-dialog.modal-lg
        .modal-content-wrapper
            i.exit-btn.fa.fa-times-circle(aria-hidden='true', data-dismiss='modal')
            h3 Nivea (For Women) Thailand
            p.pagination-left 
            p
                img.img-responsive(src='img/logo_nivea.gif')
            p
                | Nivea is one of many clients of Ogilvy & Mathers, a global advertisement agency that I interned at during the summer of 2017.
                | The website runs on a CMS called Sitecore, which I actively used during the span of my internship period to develop and publish
                | new campaigns and blogging articles.
            p
                b NIVEA Oil in Lotion 
                | was the product of Nivea that I worked on specifically.
                | You can view the website directly 
                a(href='http://www.nivea.co.th/products/campaigns/ext/th-TH/NIVEA-Oil-In-Lotion') here
                | . I helped edited Photoshop files and developed an HTML template, which was then integrated into the CMS.
            p
                b Blog articles 
                | that I occasionally published on the website (written by professional bloggers) can be viewed 
                a(href='http://www.nivea.co.th/ext/th-TH/NIVEA-FOR-LIFE/Sassy-Society') here
                | .
            p
                b Sitecore 
                | is an incredibly complicated content-manage-system to work on, but it provided me with good industry practices.
            hr
            p
                b Company: 
                | Nivea (Thailand)
            p
                b Date: 
                | 2017
            p
                b Development: 
                | HTML, CSS in Sitecore CMS


// SHOW DC
#showdc.modal.fade(role='dialog')
    .modal-dialog.modal-lg
        .modal-content-wrapper
            i.exit-btn.fa.fa-times-circle(aria-hidden='true', data-dismiss='modal')
            h3 SHOW DC Mall
            p.pagination-left 
            p
                img.img-responsive(src='img/logo_showdc.jpg')
            p
                b SHOW DC 
                | is a newly built shopping complex close to Thailand's Suvanabhumi International Airport. I helped the development
                | team to integrate new sections to the shopping complex's website and participated in the management and decision-making 
                | between the client (SHOW DC) and the development team at Ogilvy & Mather (OgilvyOne) that I interned at.
            p
                b Visit Tab: 
                | Here are some UI of what I worked on.
            .row
                .col-xs-12.col-sm-6.col-md-6.col-lg-6
                    img.img-thumbnail(src='img/ui_showdc.png', style='height: 400px')
                .col-xs-12.col-sm-6.col-md-6.col-lg-6
                    img.img-thumbnail.img-responsive(src='img/ui_showdc2.jpg', style='height: 400px')
            p
                | See the site live 
                a(href='http://www.showdc.co.th') here
                | .
            hr
            p
                b Company: 
                | SHOW DC Mall
            p
                b Date: 
                | 2017
            p
                b Development: 
                | HTML, CSS, Javascript in Sitecore CMS


// Samsung email template
#samsungEmail.modal.fade(role='dialog')
    .modal-dialog.modal-lg
        .modal-content-wrapper
            i.exit-btn.fa.fa-times-circle(aria-hidden='true', data-dismiss='modal')
            h3 Samsung
            p.pagination-left 
            p
                img(src='img/logo_samsung.png', style='width: 180px; height: auto;')
            p
                | I developed an email template for Samsung using HTML and Foundation for Email (Inky). Visual Studio Code was the code editor I used.
            p
                b Email Template: 
            p
                img.img-thumbnail(src='img/ui_samsung_edm.png', style='width: 50%')
            hr
            p
                b Company: 
                | Samsung
            p
                b Date: 
                | 2017
            p
                b Development: 
                | HTML, CSS (inline), Foundation (For Email)



// DC Vote App
#7ElevenApp.modal.fade(role='dialog')
    .modal-dialog.modal-lg
        .modal-content-wrapper
            i.exit-btn.fa.fa-times-circle(aria-hidden='true', data-dismiss='modal')
            h3 DC Vote App by 7-Eleven
            p.pagination-left 
            p
                img.img-responsive(src='img/logo_7-eleven.png')
            p
                b DC Satisfaction Voting App 
                | is a user-friendly and speedy app that allows employees of 7-Eleven
                | (which is owned by CP All) to rate how well they are satisfied with the services and the
                | delivery of goods. The app is now used by thousands of employees working at more than 8,000
                | 7-Eleven convenience stores in Thailand. The app's interface is in Thai.
            p
                br
                img.img-centered.img-responsive(src='img/mobile_dcsatisfaction_mock_home.png')
            p
                b App Logic + Initial Design
            p
                img.img-centered.img-responsive(src='img/dcvoteapp_logic.png')
            p
                | It is an important to make sure the app was very easy to use in one hand. Many of the users might
                | be using the app while carrying packages or be in the process of delivering them. It was
                | equally important to ensure the user experiences a seamless transition from one section of
                | the app to another.
            .margin-t-20
            p
                b Simplistic Design
            .row
                .col-xs-12.col-sm-12.col-md-4.col-lg-4
                    img.img-responsive.img-centered(src='img/mobile_dcsatisfaction_mock_login.png')
                .col-xs-12.col-sm-12.col-md-4.col-lg-4
                    img.img-responsive.img-centered(src='img/mobile_dcsatisfaction_mock_home.png')
                .col-xs-12.col-sm-12.col-md-4.col-lg-4
                    img.img-responsive.img-centered(src='img/mobile_dcsatisfaction_mock_vote.png')
            hr
            p
                b Company: 
                | 7-Eleven (by CP All)
            p
                b Date: 
                | 2016
            p
                b Development: 
                | Java, Android Studio, Adobe Photoshop, Sublime, JSON


// Soccer CLI App
#cli-soccer.modal.fade(role='dialog')
    .modal-dialog.modal-lg
        .modal-content-wrapper
            i.exit-btn.fa.fa-times-circle(aria-hidden='true', data-dismiss='modal')
            h3 Liverpool F.C. (Soccer) - League, Scores, Updates using Command-Line-Interface
            p.pagination-left 

            p
                | Having been a Liverpool Football Club supporter for the past eight years, I wanted to share with all of you a "nerdy" way of looking up statistics for the Liverpool team, such as league standing, score reports, and players information.
                | This command-line-interface application is written in Python, a programming language that I am currently self-studying for.
            p 
                | View the project on GitHub 
                a(href="https://github.com/naruthk/sport-updates", target="_blank")
                    | here
                | .
            hr
            p
                b Date: 
                | 2017
            p
                b Development: 
                | Python