// Milo Thailand
#project-milo.modal.fade(role='dialog')
    .modal-dialog.modal-lg
        .modal-content-wrapper
            i.exit-btn.fa.fa-times-circle(aria-hidden='true', data-dismiss='modal')
            
            //- Company Title
            h2 Milo Thailand
            
            .row
                .col-xs-12.col-md-6.col-lg-6
                    p
                        | I managed the technological development side for Milo's Futsal "Road to Barcelona" 2017 Campaign that promoted Thai children to become better footballers.
                    p
                        | I worked on developing the webpages for this particular campaign on the site which runs Drupal CMS.
                    p
                        a(href='https://milo.co.th/%E0%B8%95%E0%B8%B2%E0%B8%A3%E0%B8%B2%E0%B8%87%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B9%81%E0%B8%82%E0%B9%88%E0%B8%87%E0%B8%82%E0%B8%B1%E0%B8%99%E0%B9%81%E0%B8%A5%E0%B8%B0%E0%B8%9C%E0%B8%A5%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B9%81%E0%B8%82%E0%B9%88%E0%B8%87%E0%B8%82%E0%B8%B1%E0%B8%99-%E0%B8%A0%E0%B8%B2%E0%B8%84%E0%B8%AD%E0%B8%B5%E0%B8%AA%E0%B8%B2%E0%B8%99') Learn more about the website. 
                        | Note that the website is in Thai.
                .col-xs-12.col-md-6.col-lg-6
                    .margin-t-60.visible-xs
                    img.img-responsive(src='img/logo_milo.png')
                    p 2017
                    p
                        small HTML, CSS on Drupal CMS

// Nivea Thailand
#project-nivea.modal.fade(role='dialog')
    .modal-dialog.modal-lg
        .modal-content-wrapper
            i.exit-btn.fa.fa-times-circle(aria-hidden='true', data-dismiss='modal')
            
            h2 Nivea (For Women) Thailand
            
            .row
                .col-xs-12.col-md-6.col-lg-6
                    p
                        | Developed and published new campaigns and blogging articles on Nivea site that runs Sitecore CMS
                    h3 Featured 
                        b campaign pages
                    br
                    h4 NIVEA Oil in Lotion 
                    br
                    p
                        | This is the product of Nivea that I worked on specifically. You can view the website directly 
                        a(href='http://www.nivea.co.th/products/campaigns/ext/th-TH/NIVEA-Oil-In-Lotion') here
                        | . I helped edited Photoshop files and developed an HTML template, which was then integrated into the CMS.
                    br
                    h4 Blog Articles
                    br
                    p 
                        | I occasionally published on the website (written by professional bloggers) can be viewed 
                        a(href='http://www.nivea.co.th/ext/th-TH/NIVEA-FOR-LIFE/Sassy-Society') here
                        | .
                .col-xs-12.col-md-6.col-lg-6
                    .margin-t-60.visible-xs
                    img.img-responsive(src='img/logo_nivea.gif')
                    p 2017
                    p
                        small HTML, CSS in Sitecore CMS

// SHOW DC
#project-showdc.modal.fade(role='dialog')
    .modal-dialog.modal-lg
        .modal-content-wrapper
            i.exit-btn.fa.fa-times-circle(aria-hidden='true', data-dismiss='modal')

            h2 SHOW DC Mall
            
            .row
                .col-xs-12.col-md-6.col-lg-6
                    p
                        b SHOW DC 
                        | is a newly built shopping complex close to Thailand's Suvanabhumi International Airport. 
                    p
                        | I helped the development team to integrate new sections to the shopping complex's website and participated in the management and decision-making between the client (SHOW DC) and the development team at Ogilvy and Mather (OgilvyOne) that I interned at.
                    p
                        | See the site live 
                        a(href='http://www.showdc.co.th') here
                        | .
                    br
                    h4 UI
                    br
                    p
                        img.img-thumbnail(src='img/ui_showdc.png')
                    p
                        img.img-thumbnail.img-responsive(src='img/ui_showdc2.jpg')
                
                .col-xs-12.col-md-6.col-lg-6
                    .margin-t-60.visible-xs
                    img.img-responsive(src='img/logo_showdc.jpg')
                    p 2017
                    p
                        small HTML, CSS, Javascript in Sitecore CMS

// Samsung email template
#project-samsung.modal.fade(role='dialog')
    .modal-dialog.modal-lg
        .modal-content-wrapper
            i.exit-btn.fa.fa-times-circle(aria-hidden='true', data-dismiss='modal')
            
            h2 Samsung

            .row
                .col-xs-12.col-md-6.col-lg-6
                    p
                        | I developed an email template for Samsung using HTML and Foundation for Email (Inky). Visual Studio Code was the code editor I used.
                    br
                    h4 UI
                    br
                    p
                        img.img-thumbnail(src='img/ui_samsung_edm.png')
                
                .col-xs-12.col-md-6.col-lg-6
                    .margin-t-60.visible-xs
                    img.img-responsive(src='img/logo_samsung.png')
                    p 2017
                    p
                        small HTML, CSS (inline), Foundation (For Email)



// DC Vote App
#project-dcvote.modal.fade(role='dialog')
    .modal-dialog.modal-lg
        .modal-content-wrapper
            i.exit-btn.fa.fa-times-circle(aria-hidden='true', data-dismiss='modal')

            h2 DC Vote App by 
                b 7-Eleven

            .row
                .col-xs-12.col-md-6.col-lg-6
                    p
                        | A user-friendly and speedy app that allows employees of 7-Eleven (which is owned by CP All) to rate how well they are satisfied with the services and the delivery of goods. 
                    p
                        | The app is now used by thousands of employees working at more than 8,000 7-Eleven convenience stores in Thailand. The app's interface is in Thai.
                    
                    br
                    h4 UI
                    br
                    .row
                        .col-xs-6.col-sm-6.col-md-6.col-lg-6
                            img.img-responsive.img-centered(src='img/mobile_dcsatisfaction_mock_login.png')
                        .col-xs-6.col-sm-6.col-md-6.col-lg-6
                            img.img-responsive.img-centered(src='img/mobile_dcsatisfaction_mock_home.png')
                        .col-xs-6.col-sm-6.col-md-6.col-lg-6
                            img.img-responsive.img-centered(src='img/mobile_dcsatisfaction_mock_vote.png')
                    
                    br
                    h4 App Logic
                    br
                    p
                        img.img-centered.img-responsive(src='img/dcvoteapp_logic.png')
                    p
                        | It is an important to make sure the app was very easy to use in one hand. Many of the users might be using the app while carrying packages or be in the process of delivering them. It was equally important to ensure the user experiences a seamless transition from one section of the app to another.

                .col-xs-12.col-md-6.col-lg-6
                    .margin-t-60.visible-xs
                    img.img-responsive(src='img/logo_7-eleven.png')
                    p 2016
                    p
                        small Java, Android Studio, Adobe Photoshop, Sublime, JSON


// Soccer CLI App
#project-pcli.modal.fade(role='dialog')
    .modal-dialog.modal-lg
        .modal-content-wrapper
            i.exit-btn.fa.fa-times-circle(aria-hidden='true', data-dismiss='modal')

            h2 Python Command-Line-Interface App 
                br
                small for Liverpool F.C. (Soccer) League, Scores, Updates 

            .row
                .col-xs-12.col-md-6.col-lg-6
                    p
                        | Having been a Liverpool Football Club supporter for the past eight years, I wanted to share with all of you a "nerdy" way of looking up statistics for the Liverpool team, such as league standing, score reports, and players information.
                    p
                        | This command-line-interface application is written in Python, a programming language that I am currently self-studying for.
                    p
                        | View the project on GitHub at 
                        a(href="https://github.com/naruthk/pcli-liverpool-updates", target="_blank") https://github.com/naruthk/pcli-liverpool-updates
                        | .

                .col-xs-12.col-md-6.col-lg-6
                    .margin-t-60.visible-xs
                    img.img-responsive(src='img/logo_cli-app.png')
                    p 2017
                    p
                        small Python