// Naruth Kongurai
// Official personal website / projects / portfolio
// 2017
// v. 2.0
// MIT License

doctype html
html(lang = en)
    head
        include header.pug
        title Tatanka Arts
    body

        // begin of header
        .container
            .small-wrapper
                .row
                    .col-xs-12.col-md-6.col-lg-6.text-center
                        a(href="http://www.naruthk.com")
                            i.fa.fa-chevron-circle-left(aria-hidden="true") 
                            |  Back to Naruth Kongurai's homepage
                        .margin-t-20
                    .col-xs-12.col-md-6.col-lg-6.text-center
                        .mini-social-bar
                            include social.pug
        
        // end of header

        // Begin About Section
        #about.container
            .small-wrapper
                .row
                    .col-sm-4.col-md-4.col-lg-4
                        p
                            img.img-responsive(src='img/company_tatankaarts.png')
                        p
                            b Tatanka Arts
                        p 2012-2013
                        p
                            small HTML3, CSS
                    .col-sm-8.col-md-8.col-lg-8
                        .mega-about
                            h2 My work at 
                                b Tatanka Arts
                                br
                                small (Web Developer Intern)
                            p
                                | Developed the UX/UI on Photoshop and working with client to finalize the design, and developing the website using HTML and CSS.
                            p
                                | See a live demo at 
                                a(href='http://www.tatankaarts.org') http://www.tatankaarts.org
                            br
                            h3 Organization Information
                            br
                            p
                                | This is a local organization showcasing artworks beautifully made by artists residing near/in Redwood Falls, Minnesota.
                            p
                                | Learn more about them at 
                                a(href='http://www.tatankaarts.org') http://www.tatankaarts.org
                        
        // End About Section
        
        // Begin Promotion Banner
        .feature-banner 
            .container
                .row
                    include social.pug
            // End Promotion Banner

            // Begin Footer Section
            .container
                .margin-t-20
                footer
                    .row.text-center
                        .col-sm-12.col-md-12.col-lg-12 
                            p 
                                | &copy; 2017 - Naruth Kongurai
        .scroll-to-top
            a(href='#about')
                i.fa.fa-chevron-up

        script(src='vendor/jquery/jquery.min.js')
        script(src='vendor/bootstrap/js/bootstrap.min.js')
        script(src='js/theme.js')