//- // Naruth Kongurai
//- // Official personal website / projects / portfolio
//- // 2017
//- // v. 2.0
//- // MIT License

//- doctype html
//- html(lang = en)
//-     head
//-         include header.pug
//-         title CP All
//-     body

//-         // begin of header
//-         .container
//-             .small-wrapper
//-                 .row
//-                     .col-xs-12.col-md-6.col-lg-6.text-center
//-                         a(href="http://www.naruthk.com")
//-                             i.fa.fa-chevron-circle-left(aria-hidden="true") 
//-                             |  Back to Naruth Kongurai's homepage
//-                         .margin-t-20
//-                     .col-xs-12.col-md-6.col-lg-6.text-center
//-                         .mini-social-bar
//-                             include social.pug
        
//-         // end of header

//-         // Begin About Section
//-         #about.container
//-             .small-wrapper
//-                 .row
//-                     .col-sm-4.col-md-4.col-lg-4
//-                         p
//-                             img.img-responsive(src='img/company_cpall.png')
//-                         p
//-                             b CP All
//-                         p September 2016
//-                         p
//-                             small PHP, jQuery, MySQL, Bootstrap, CSS, Java, Android, Android Studio
//-                     .col-sm-8.col-md-8.col-lg-8
//-                         .mega-about
//-                             h2 My work at 
//-                                 b CP All
//-                                 br
//-                                 small (Android Mobile Developer Intern)
//-                             p
//-                                 | Developed a mobile app designed to allow 7-11 employees to submit their satisfactory ratings for services made by the Transporatation and Delivery Services 
//-                             br
//-                             h3 More about the app
//-                             br
//-                             p
//-                                 | The app that I helped to create is currently used by more than 9000 7-11 convenience stores in Thailand. I also developed the front-end side of a webpage that establishes and retrieves various rating results from multiple databases.
//-                             br
//-                             h3 I also made a 
//-                                 b website
//-                             br
//-                             p
//-                                 | The website was developed using Bootstrap, SQL, and PHP. It was recently closed down.
//-                             br
//-                             h3 Company Information
//-                             br
//-                             p
//-                                 | This company is a top conglomerate in Thailand that operates 7-Eleven convenience stores in the country.
                        
//-         // End About Section
        
//-         include footer.pug