// Naruth Kongurai
// Official personal website / projects / portfolio
// 2017
// v. 2.1
// MIT License

doctype html
html(lang = en)
    head
        include ../modules/header.pug
        title Naruth Kongurai (Sam)
    body

        // Begin of Header
        header
            .container
                .row
                    .col-sm-2.col-md-2.col-lg-2
                        .header-logo
                            a(href="http://www.naruthk.com") NK
                    .col-sm-10.col-md-10.col-lg-10
                        .social-links
                            include ../modules/social.pug
        // End of Header

        // Begin About Section
        #about
            .full-screen
                img.profile-picture(src='img/naruth2.png')
                h2 Hi, my name is <b>Naruth Kongurai</b>.
                .info
                    p I love to design and develop front-end web applications and create mobile applications for Android and iOS. Currently I am an undergraduate student at the University of Washington.
                .updates
                    //- .row
                    //-     a(href="http://www.naruthk.com/media/Kongurai_Naruth_grad2018.pdf", title="Resume")
                    //-         i.fa.fa-file-text(aria-hidden="true", target='_blank') 
                    //-         | Resume
                    //-     a(href='http://www.github.com/naruthk', title='Github', target='_blank')
                    //-         i.fa.fa-github(aria-hidden='true', target='_blank') 
                    //-         | Code
                    //-     br.visible-xs
                    //-     a(href='https://twitter.com/naruthkongurai', title='Twitter', target='_blank')
                    //-         i.fa.fa-twitter(aria-hidden='true', target='_blank')
                    //-         | Tweets
                    .margin-t-20
                    p#current-activity
                        span#status Currently
                        | #100DaysOfCode challenge
        // End About Section

        // Begin Companies Section
        #job-status
            .container
                .row
                    .col-sm-6.col-md-6.col-md-6.text-center
                        .margin-t-60
                        h2 Available for Hire
                        p.p-focus Previously interned as a <b>Front-End Web Developer</b> and also an <b>Android Application Developer</b>.
                    .col-sm-6.col-md-6.col-md-6.text-center
                        .margin-t-60
                        .image-job-open
                        p.resume
                            a(href="http://www.naruthk.com/media/Kongurai_Naruth_grad2018.pdf", title="Resume")
                                i.fa.fa-file-text(aria-hidden="true", target='_blank')  
                                | View My Resume
                .skills
                    p <b>Programming Languages:</b> Python, Java, Swift, HTML5, CSS3, Javascript, PHP
                    p <b>Libraries, Frameworks, Tools:</b> React, SCSS, Bootstrap, NodeJS, Vanilla JS, Typescript, Git
                    p <b>Software (Design/Coding):</b> Adobe Photoshop, Android Studio, Adobe XD, Xcode, Eclipse, VS Code, Sublime, iTerm 2
                .margin-t-60
        #more-info
            .container
                .row
                    .col-sm-6.col-md-6.col-md-6.text-center
                        .margin-t-20
                        .image-statistics
                        .margin-t-20
                        h2 Proud To Boast
                        p I am a senior attending the University of Washington and pursuing a Bachelor's Degree in Communication while minoring in Informatics!
                        //- p.resume
                        //-     a(href="http://www.naruthk.com/media/Kongurai_Naruth_grad2018.pdf", title="Resume")
                        //-         i.fa.fa-file-text(aria-hidden="true", target='_blank')  
                        //-         | View My Resume
                        .margin-t-60
                    .col-sm-6.col-md-6.col-md-6
                        .row
                            .col-sm-12.col-md-6.col-lg-6
                                p.focus 9000+ and Growing
                                p.content That's how many 7-Eleven convenience stores in Thailand are using a mobile rating application (Android) I developed for them in over a period of 2 months
                            .col-sm-12.col-md-6.col-lg-6
                                p.focus Programming Abilities
                                p.content I've taken numerous courses, such as iOS Development, Web Programming, Data Structures and Algorithms, Foundation of Informatics, and Java Programming.
                        .row
                            .col-sm-12.col-md-6.col-lg-6
                                p.focus App on the App Store!
                                p.content I recently published a <a href="http://www.naruthk.com/app/notes/" target="_blank">note-taking</a> mobile application on the App Store. It is available for free for everyone who has an iPhone or iPad.
                            .col-sm-12.col-md-6.col-lg-6
                                p.focus Loves Open-Source
                                p.content I'm a big fan of helping out the community, evidently through my contribution to Free Coding Camp community

        // Begin Projects Section
        #projects
            .container
                h2 Work

                .col-xs-12.col-sm-6.col-md-4.col-4
                    a(href='#', data-toggle='modal', data-target= '#project-free-portfolio-theme')
                        .tile
                            img.img-responsive(src="img/project-web-free-template.png", alt="Free Portfolio Theme")
                            p.title Portfolio Theme
                                span.website Website
                                span.featured Popular
                            p Showcase your projects and personal information with this fantastic modern-looking HTML5 template
                .col-xs-12.col-sm-6.col-md-4.col-4
                    a(href='https://codepen.io/naruthk/full/LzMwWJ/', target="_blank")
                        .tile
                            img.img-responsive(src="img/project-js-color-picker.png", alt="Interactive Color Picker")
                            p.title Interactive Color Picker
                                span.website Website
                                span.featured Popular
                            p Beautiful color picker. A single tile represents a random color. Fun and elegant.
                .col-xs-12.col-sm-6.col-md-4.col-4
                    a(href='#', data-toggle='modal', data-target= '#project-extension-digital-clock')
                        .tile   
                            img(src="img/ui-chrome-extension-digital-clock.png", alt="Digital Clock Chrome Extension")
                            p.title Digital Clock New Tab
                                span.website Chrome
                            p Bored of your current New Tab page? Try this beautiful digital clock. I guarantee you will fall in love with it.
                .col-xs-12.col-sm-6.col-md-4.col-4
                    a(href='#', data-toggle='modal', data-target= '#project-nivea')
                        .tile
                            img(src="img/ui-nivea.png", alt="Nivea")
                            p.title Nivea Blogging Section
                                span.website Website
                            p Developed a Blog section for bloggers to publish their articles on the Thailand's Nivea website
                .col-xs-12.col-sm-6.col-md-4.col-4
                    a(href='https://github.com/naruthk/pcli-liverpool-updates', target="_blank")
                        .tile
                            img(src="img/ui-python-soccer.png", alt="PCLI")
                            p.title Liverpool Soccer Fixtures
                                span Software
                            p A Pythonic Command-Line-Interface application for Liverpool fans to retrieve the team's information
                .col-xs-12.col-sm-6.col-md-4.col-4
                    a(href='app/notes/', target="_blank")
                        .tile
                            p.text-center
                                img(src="img/ui-daily-notes-app.png", alt="Daily Notes App")
                            p.title Daily Notes App
                                span App Store
                            p Focus on just typing. The perfect note-taking companion app for your everyday need.
                .col-xs-12.col-sm-6.col-md-4.col-4
                    a(href='#', data-toggle='modal', data-target= '#project-samsung')
                        .tile
                            img(src="img/ui-samsung-email.png", alt="Samsung")
                            p.title Email Template
                                span Email
                            p Built using Foundation. Designed on Photoshop. Email sent to millions of Samsung users in Thailand.
                .col-xs-12.col-sm-6.col-md-4.col-4
                    a(href='#', data-toggle='modal', data-target= '#project-milo')
                        .tile
                            img(src="img/ui-milo.png", alt="Milo")
                            p.title Milo Homepage
                                span.website Website
                            p Impacting design. Visually attractive front page intending to direct user's attention to what's most important -- the products.
                .col-xs-12.col-sm-6.col-md-4.col-4
                    a(href='#', data-toggle='modal', data-target= '#project-showdc')
                        .tile   
                            img(src="img/ui-show-dc-mall.png", alt="Show DC")
                            p.title SHOW DC Homepage
                                span.website Website
                            p Attractive landing page. Unique animations. Perfect fit to advertisement Thailand's newest shopping mall.
                .col-xs-12.col-sm-6.col-md-4.col-4
                    a(href='#', data-toggle='modal', data-target= '#project-dcvote')
                        .tile
                            img(src="img/ui-mobile-dcvote.png", alt="DC Vote")
                            p.title DC Vote App
                                span Mobile
                            p A Survey Rating application. Built for the Android platform. Used by more than 9000+ 7-Eleven convenience stores.

        #contact
            .container
                .row
                    .col-sm-6.col-md-6.col-md-6.text-center
                        .image-contact
                    .col-sm-6.col-md-6.col-md-6
                        h2 Contact
                        p I'd love to hear from you. Let's have a conversation together.
                        p <a href="mailto:contact@naruthk.com">contact@naruthk.com</a>
        
        include ../modules/footer.pug