// Naruth Kongurai
// Official personal website / projects / portfolio
// 2017
// v. 2.1
// MIT License

doctype html
html(lang = en)
    head
        include ../modules/header.pug
        title Naruth Kongurai (Sam)
    body

        // Begin of Header
        header
            .container
                .row
                    .col-sm-2.col-md-2.col-lg-2
                        .header-logo
                            a(href="http://www.naruthk.com") NK
                    .col-sm-10.col-md-10.col-lg-10
                        .social-links
                            include ../modules/social.pug
        // End of Header

        // Begin About Section
        #about
            .full-screen
                img.profile-picture(src='img/naruth2.png')
                h2 Hi, my name is <b>Naruth Kongurai</b>.
                .info
                    p I love to design and develop front-end web applications. I also create mobile applications for Android and iOS, and a current undergraduate student at the University of Washington.
                .updates
                    .row
                        a(href="http://www.naruthk.com/media/Kongurai_Naruth_grad2018.pdf", title="Resume")
                            i.fa.fa-file-text(aria-hidden="true", target='_blank') 
                            | Resume
                        a(href='http://www.github.com/naruthk', title='Github', target='_blank')
                            i.fa.fa-github(aria-hidden='true', target='_blank') 
                            | Code
                        br.visible-xs
                        a(href='https://medium.com/naruth-kongurai', title='Medium', target='_blank')
                            i.fa.fa-medium(aria-hidden='true', target='_blank')
                            | Blog
        // End About Section

        // Begin Companies Section
        #job-status
            .container
                .row
                    .col-sm-6.col-md-6.col-md-6.text-center
                        .margin-t-60
                        h2 Job Availability
                        p.p-focus I am looking for a job as either a <b>Front-End Web Developer</b>, an <b>Android</b> / <b>iOS Application Developer</b>, or a <b>Technical Writer</b>.
                    .col-sm-6.col-md-6.col-md-6.text-center
                        .margin-t-60
                        img(src="img/open.png" alt="Great picture by Smashing Magazine!")
                .skills
                    p <b>Programming Languages:</b> Python, Java, Swift, HTML5, CSS3, Javascript, PHP
                    p <b>Libraries, Frameworks, Tools:</b> React, SCSS, Bootstrap, NodeJS, Vanilla JS, Typescript, Git
                    p <b>Software (Design/Coding):</b> Adobe Photoshop, Android Studio, Adobe XD, Xcode, Eclipse, VS Code, Sublime, iTerm 2
                .margin-t-60
        #more-info
            .container
                .row
                    .col-sm-6.col-md-6.col-md-6.text-center
                        .margin-t-20
                        img(width="150px" src="img/analytics.png" alt="Great picture by Vectors Market!")
                        .margin-t-20
                        h2 Proud To Boast
                        p I am a senior attending the University of Washington and pursuing a Bachelor's Degree in Communication. Informatics is my minor!
                        p.resume
                            a(href="http://www.naruthk.com/media/Kongurai_Naruth_grad2018.pdf", title="Resume")
                                i.fa.fa-file-text(aria-hidden="true", target='_blank')  
                                | View My Resume
                        .margin-t-60
                    .col-sm-6.col-md-6.col-md-6
                        .row
                            .col-sm-12.col-md-6.col-lg-6
                                p.focus 9000+ and Growing
                                p.content That's how many 7-Eleven convenience stores in Thailand are using a mobile rating application (Android) I developed for them in over a period of 2 months
                            .col-sm-12.col-md-6.col-lg-6
                                p.focus Programming Abilities
                                p.content I've taken numerous courses, such as iOS Development, Web Programming, Data Structures and Algorithms, Foundation of Informatics, and Java Programming.
                        .row
                            .col-sm-12.col-md-6.col-lg-6
                                p.focus App on the App Store!
                                p.content I recently published a <a href="http://www.naruthk.com/app/notes/" target="_blank">note-taking</a> mobile application on the App Store. It is available for free for everyone who has an iPhone or iPad.
                            .col-sm-12.col-md-6.col-lg-6
                                p.focus Loves Open-Source
                                p.content I'm a big fan of helping out the community, evidently through my contribution to Free Coding Camp community
        
        #companies
            .container
                mixin company-thumbnail-box(src, title, description, href)
                    a(href= href, target="_blank")
                        .col-xs-12.col-sm-3.col-md-3.col-lg-3.thumbnail-boxes
                            p.text-center
                                img.img-responsive.center-block(src = src, alt = title)
                .row
                    +company-thumbnail-box('img/company_ogilvyone.png', 'OgilvyOne Worldwide (Thailand)', 'Summer 2017', 'ogilvyone.html')
                    +company-thumbnail-box('img/company_bitsee.png', 'Bitsee (USA)', 'January - March 2017', 'bitsee.html')
                    +company-thumbnail-box('img/company_cpall.png', 'CP All (Thailand)', 'Summer 2016', 'cpall.html')
                    +company-thumbnail-box('img/company_tatankaarts.png', 'Tatanka Arts (USA)', '2012', 'tatankaarts.html')


        // Begin Projects Section
        #projects
            .container
                h2 Projects
                .row
                    .col-xs-12.col-sm-12.col-md-12.col-lg-12
                        .text-center
                            .row
                                .col-xs-12.col-md-6.col-lg-6
                                    .col-xs-6.col-md-6.col-lg-6.div-line-divider
                                        a(href='http://www.github.com/naruthk' title='Github', target='_blank') 
                                            | See more on 
                                            i.fa.fa-github(aria-hidden='true')
                                    .col-xs-6.col-md-6.col-lg-6
                                        a(href='http://www.linkedin.com/in/naruthkongurai' title='LinkedIn', target='_blank') 
                                            | View profile on 
                                            i.fa.fa-linkedin(aria-hidden='true')
                                        .margin-t-20
                                .col-xs-12.col-md-6.col-lg-6
                                    .margin-t-60.visible-xs
                                    .toolbar.mb2.mt2
                                        button.btn.fil-cat(href="", data-rel="all") All
                                        button.btn.fil-cat(data-rel="web") Website
                                        button.btn.fil-cat(data-rel="mobile") Mobile
                                        button.btn.fil-cat(data-rel="design") Design
                                        button.btn.fil-cat(data-rel="software") Software
                                    div(style="clear:both;")

                    .row    
                        .col-xs-12.col-sm-12.col-md-12.col-lg-12             
                            #portfolio
                                .tile.scale-anm.web.all
                                    a(href='#', data-toggle='modal', data-target= '#project-free-portfolio-theme')
                                        img(src="img/project-web-free-template.png", alt="Free Portfolio Theme")
                                .tile.scale-anm.web.all
                                    a(href='#', data-toggle='modal', data-target= '#project-nivea')
                                        img(src="img/ui-web-nivea.png", alt="Nivea")
                                .tile.scale-anm.software.all
                                    a(href='#', data-toggle='modal', data-target= '#project-pcli')
                                        img(src="img/ui-software-pcli.png", alt="PCLI")
                                .tile.scale-anm.mobile.all
                                    a(href='app/notes/', target="_blank")
                                        img(src="http://www.naruthk.com/img/apps/notes/Preview-iPhone-2.png", alt="Daily Notes App")
                                .tile.scale-anm.web.all
                                    a(href='#', data-toggle='modal', data-target= '#project-nivea')
                                        img(src="img/ui-web-nivea2.png", alt="Nivea")
                                .tile.scale-anm.design.all
                                    a(href='#', data-toggle='modal', data-target= '#project-samsung')
                                        img.img-width-half(src="img/ui-web-samsung.png", alt="Samsung")
                                .tile.scale-anm.web.all
                                    a(href='#', data-toggle='modal', data-target= '#project-showdc')
                                        img(src="img/ui_showdc.png", alt="Show DC")
                                .tile.scale-anm.mobile.all
                                    a(href="bitsee.html", target="_blank")
                                        img(src="img/ui-mobile-bitsee.png", alt="Bitsee")
                                .tile.scale-anm.mobile.all
                                    a(href='#', data-toggle='modal', data-target= '#project-dcvote')
                                        img(src="img/ui-mobile-dcvote.png", alt="DC Vote")
                                .tile.scale-anm.web.all
                                    a(href='#', data-toggle='modal', data-target= '#project-milo')
                                        img(src="img/ui-web-milo.png", alt="Milo")
                            div(style="clear:both;")
        
        include ../modules/footer.pug